@import '~assets/sass/vars';
.inner-content-agents{
    padding:80px 0px 80px 0px; 
}
.chubb-agent-wrap {
    background:#fff;
    padding:30px;
}
.tab-agent {

}

.chubb-detail-agent h6 {
    font-family:'publico-roman',serif;
    color:$violet;
    border-bottom:2px solid $violet;
    padding-bottom:15px;
}
.chubb-detail-agent table tr td {
    font-size:15px;
}
.bottom-content {
    padding:30px 0px 0px 0px;
}
.title-bottom-content p {
    margin:auto;
}
.btn-chubb-agent-search {

}
.chubb-agent-search-bg {
    border-top: 1px solid #ccc;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 0px;
    width:100%;
}
.chubb-agent-tab .nav-tabs li a:hover {
    color: #ccc;
    border:none;
}
.chubb-agent-search {
    margin-bottom:20px;
    border-bottom:1px solid #ddd;
}

.loading-padding {
    padding: 10px 0 0;
}

.bstimeslider {
    width:100%;
    height:100%;
    position:relative;    
}

.bktibx {
    float:left;
    margin:0 40px 0 0 ;
    font-size:18px;
    width:60px;
    display:block;
    background:#000;
    color:#fff;
}

#tslshow {
    left:0;
    width:1200px;
}

#leftArrow {
    width:40px;
    height:40px;
    background:#ff0000; 
    position:absolute;
    left:0px;
    z-index:999;
}

#rightArrow {
    
    width:40px;
    height:40px;
    background:#ff0000; 
    position:absolute;
    right:0px;
    z-index:999;
}

#viewContainer {
    width:100%;
    height:100%;
    overflow:hidden; 
}

.wrap-agent {
    background:green;
}

.chubb-career-img {
    height:100px;
    overflow:hidden;
    text-align:center;
    border-bottom: 4px solid $ekreasi-violet;
    margin-bottom:20px;
    img {
        width:auto;
        height:100px;
    }
}

.chubb-item-news-thumb {
    background:#fff;
    padding:20px;
}

.chubb-summary-portfolio {
    ul {
        margin-left:30px;
        li {

        }
    }
}
.chubb-career-title {
    text-align:center;
    h1 {
        font-family: 'TrebuchetMS-Bold';
        font-size:25px;
        color:$dark-gray;
        padding:20px 0px 40px 0px;
        border-bottom:4px solid $ekreasi-violet;

    }
}
.chubb-item-news-thumb {
    .btn-career-violet {
        border:3px solid $ekreasi-violet;
        background:transparent;
        color:$ekreasi-violet;
        padding: 5px 40px;
        margin:auto;
        width:100%;
    }
}

.pricing-table-column{
  border-radius: .3rem;
  border: 1px solid #f3f2f0 !important;
}
.pricing-table-header{
  background-color: #61269E;
  border-color: #61269E;
  padding: 30px 40px;
  text-align: left;
  font-weight: 300;
  border-radius: 8px 8px 0px 0px;
}
.pricing-table-header h4{
    font-size: 30px;
    margin: 0px;
}
.pricing-table-text{
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 40px;
  text-align: left;   
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 25px;
}
.pricing-table-text b{
    font-size: 16px;
}

.pricing-table-text .button{
    background-color: #61269E;
    border: 1px solid #61269E;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
hr.thick{
    border-top-width: .2rem;
    border-color: #ecedf2;
}
.no-margins {
    margin: 0!important;
}
.list-check ul{
    margin-bottom:30px;
}
.list-check ul li {
  line-height: 1.6;
  padding-left: 25px;
  list-style-type: none!important;
  font-size: 14px;
}

.list-check ul li:before {
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  left : 55px;
  color: #61269E;
}

.head-about{
    text-align: center;
    margin-bottom: 1.6rem;
}
.head-about .service{
    padding-top:50px;
}
.head-about h1{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: -.035em;
}
.head-about p{
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
}