.pagination-magenta .pagination .page-item.active .page-link {
    background:$magenta;
    color:#fff;
    border-color:$magenta
}
.pagination-magenta .pagination .page-item .page-link {
    background: #e2e2e2;
    color: #4A4A4A;
    margin: 0px 8px;
    padding: .5rem .5rem;
}