@media (max-width: 991px) {
  .chub-news-pagination[_ngcontent-c1] {
    float:left !important;
    position: relative !important;
  }
  p {
    font-size:14px; 
  }
  .policy-item-wrap {
      margin-bottom: 25px;
      padding: 20px;
  }
  .top-nav {
    position: relative !important;
  }
  .top-nav .navbar {
    position: relative !important;
    background:none !important;
    height: 60px;
  }
  .welcome-page {
    float:left!important;
  }
  .proposal-item-list .no-margin-bottom .no-border-bottom {
    border-bottom:1px solid #ccc !important;
  }
  .proposal-item-list .no-margin-bottom  {
    margin-bottom: 1rem !important;
  }
  .chubb-banner-dashboard {
    _height:250px !important;
  }
  .banner-dashboard {
    height:250px;
  }
  .img-hero-banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:250px;
    width: auto!important;
  }
  .chubb-slide-non-public .ngxcarouselPointDefault {
    left:50% !important;
  }
  .side-menu-dashboard-vertical {
    display:none;
  }
  .chubb-download-tab .nav-tabs li {
    width:100%;
  }
  .chubb-download-tab .nav-tabs li a {
    font-size:22px !important;
    padding:30px 0px;
    text-align:center;
  }
  .top-nav {
    background:transparent !important;
  }
  .chubb-logo-header {
    position:absolute;
    top:-60px;
    z-index: 9999;
    padding-bottom: 0px;
  }
  .chubb-navbar  {
    width: 720px;
    margin: auto;
    position: relative;
    padding: 0px 15px;
  }
  .navbar-light .navbar-toggler {
    border:none;
    
  }
  .chubb-header .navbar-light .navbar-toggler {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    max-width: 720px;
  }
  .chubb-custom-menu {
    float:right;
    top: 20px;
    position: relative;
    color:#fff;
  }
  .nav-mobile {
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }
  .nav-right-top {
    float:none !important;
  }
  .nav-right-top ul li {
    float:none !important;
    text-align: left !important;
  }
  .nav-right-top ul {
    float:none !important;
    text-align: left !important;
    margin:auto
  }
  //  Dashboard

  .chubb-hero-content {
    width:100%;
    bottom: 0;
    left: 0;
  }
  .chubb-hero-content p {
    font-size:13px;
  }
  .chubb-box {
    margin-bottom:30px;
  }
  .chubb-logo-footer img {
    clear:both !important;
    text-align:center;
  }
  .copyright {
    margin:auto;
    text-align:center;
  }
  .copyright span{
    padding:10px 0px;
    width:100%;
    float:left;
    text-align:center;
  }
  .terms-link ul {
    text-align:center !important;
    float:none !important;
    display:inline;
  }
  .terms-link  {
    text-align:center
  }
  .terms-link ul li {
    text-align:center;
    display: inline;
    float:none !important;
  }
  .language-wrap {
    float:none  !important;
    width:100%;
  }
  .btn-language {
    display: block;
    margin: auto;
    width: 100%;
    text-align: left;
  }
  .btn-border-bottom {
    border-bottom:1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius:0px !important;
  }
  .dropdown-menu {
    position: relative !important;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
  }
  .dropdown-menu.show {
    margin-left:0px !important;
    background:#4c4c4c !important; 
  }
  .chubb-contact-wrap {
    padding:20px 0px !important;
  }
  .chubb-customer-service {
    padding:20px 0px !important;
  }

  // About 
  .chubb-summary-about {
    width:100% !important;
  }
  .chubb-header-content h1 {
    margin: auto;
    padding: 8px 0px 0px 0px !important;
    font-size: 35px !important;
  }
  .chubb-secondary-paragraph {
    width:100% !important;
  }
  .footer-call {
   padding:0px 0px !important;
  }
  .footer-call ul {
    border-top:none !important;
    margin-top:0px !important;
  }
  .footer-call ul li {
    padding:2px 0px !important;
  }
  .footer-wrap {
    padding:30px 0px 0px 0px !important;
  }
  .footer-wrap p {
    color:#bbb !important;
    margin:0px;
  }
  p {
    display: block;
  }
  .footer-about {
    padding:30px 0px 10px 0px !important;
  }
  .footer-about ul li {
    line-height:30px !important;
  }
  .footer-call ul li a {
    color:#bbb !important;
    font-size: 15px !important;
  }
  .footer-shortcut {
    padding:10px 0px 10px 0px !important;
  }
  .footer-shortcut ul li {
    line-height:30px !important;
  }
  .footer-shortcut ul li  a {
    color:#bbb !important;
  }
  .footer-about ul li a {
    color:#bbb  !important;
  }
  .footer-section-2 {
    color:#bbb !important;
  }
  .copyright span {
    color:#bbb !important;
  }
  .terms-link ul li a {
    color:#bbb !important; 
  }
  .nav-right-top ul li .hidden-mobile {
    display:none !important;
  }
  .hidden-mobile {
    display:none !important
  }
  .menu-dashboard-horizontal ul li {
    border-right:none !important;
  }
  .title-menu-burger {
    padding-top:0px!important;
    line-height: 22px;
  }
  .chubb-agent-wrap {
    padding:30px 10px !important
  }
  //  Tabs
  .chubb-magenta-tab .nav-tabs li {
    width:100%;
  }
  .chubb-summary-awards {
    width:100% !important;
  }
  .chubb-awards-wrap {
    padding:20px 10px !important;
  }
  .menu-dashboard-horizontal ul li {
    height:auto !important;
  }
  .pagination-magenta ul.pagination li.page-item {
    margin: 20px auto !important;
    width: 37px !important;
  }
  .pagination-magenta ul.pagination li.page-item .page-link {
    margin:auto !important;
    text-align:center;
  }
  .pagination-magenta {
    float:none !important;
  }
  .title-bottom-content p {
    text-align:center;
  }
  .chubb-faq-wrap {
    padding:30px 10px !important;
  }
  .chubb-summary-faq {
    width:100% !important;
  }
  .chubb-faq-tab .nav-tabs li {
    width:100% !important;
  }
  .chubb-detail-agent ul li {
    margin-left: 17px !important;
  }
  .chubb-hospital-wrap {
    padding:20px 10px 0px 10px !important;
  }
  .chubb-list-hospital {
    padding:20px 0px 0px 0px !important;
  }
  .chubb-hospital-tab .nav-tabs li {
    width:100% !important;
  }
  // Product 
  .chubb-product-tab .nav-tabs li {
    width:100% !important;
  }
  .content-detail-product ul {
    padding-left:20px !important;
    margin-left: 0px !important;
  }
  .content-detail-product ul li {
    margin-left: 0px !important;
  }
  .menu-dashboard-horizontal ul li .dropdown-menu.show{
    margin-left:0% !important;
  }
  .menu-dashboard-horizontal ul li {
    width:100% !important;
    margin:auto !important;
    text-align: left !important;
    border-bottom: 1px solid #eee;
  }
  .menu-dashboard-horizontal ul li button {
    width:100%;
    text-align:left;
  }
  body .top-nav .navbar {
    position: relative !important;
  }
  .highchart-min-margin {
    margin: 0 -15px;
  }
  .no-padding-mobile {
    padding: 0px;
  }
 }
 @media (max-width:768px) {
  .chubb-login-home {
    height:auto !important;
    margin:25px auto 0px auto; 
  }
  
}
 @media (max-width:425px) {
    .chubb-detail-agent table tr td {
        font-size: 13px !important;
    }
   .chubb-header-content-non-public h1 {
     font-size:28px !important;
     margin:auto !important;
   }
   .welcome-page h4 {
    font-size:20px !important;
    margin:auto !important;
   }
  .chubb-hero {
    width: 100%;
    height: 400px !important;
    margin-bottom:30px;
  }
  .chubb-hero-content {
    width:100%;
    top: 50% !important;
    margin: 0px 20px 0px 20px !important;
    padding:20px !important;
  }
  .chubb-hero-content p {
    font-size:13px;
  }
  .chubb-box {
    margin-bottom:30px;
  }
  .chubb-logo-footer img {
    clear:both !important;
    text-align:center;
  }
  .copyright {
    margin:auto;
    text-align:center;
  }
  .copyright span{
    padding:10px 0px;
    width:100%;
    float:left;
    text-align:center;
  }
  .terms-link ul {
    text-align:center !important;
    float:none !important;
    display:inline;
  }
  .terms-link  {
    text-align:center
  }
  .terms-link ul li {
    text-align:center;
    display: inline;
    float:none !important;
  }
  .contact-call ul li a span {
    display:none !important
  }
  .chubb-section-policy, .chubb-section-proposal, .chubb-section-nav {
    padding:20px 10px !important
  }
  .chubb-content-general {
    background: #fff;
    padding: 20px 10px !important;
  }
  .chubb-primary-tab .nav-tabs li {
    // width:100% !important;
  }
  .chubb-product-wrap {
    padding: 20px 10px !important;
  }
 }

 @media (max-width:600px) {
    .chubb-login-home {
      margin:0px auto 0px auto; 
    }
   .chubb-banner-dashboard-text h3 {
     font-size:18px;
   }
   .chubb-banner-dashboard-text a {
    font-size:14px;
   }
  .policy-item-wrap table tr td {
    font-size:13px !important;
    padding:5px !important;
}
  .policy-item-wrap table tr td.label {
    font-size:13px  !important;
    padding:5px !important;
  }
  .policy-item-wrap table tr  {
    overflow-x:scroll;
  }
  .policy-group-wrap {
    padding: 20px 20px 0px 20px !important;
  }
  .policy-item-wrap {
      padding: 0px;
      margin-bottom:20px;
  }
  
  .nav-home {
      min-height: 67px;
  }
  .chubb-hero-content a {
    font-size:13px;
  }

  .chubb-list-nab ol.carousel-indicators {
    display:-webkit-box!important;
  }
  .chubb-list-nab ol.carousel-indicators li, .chub-chart .carousel ol.carousel-indicators li {
    background:rgba(0, 0, 0, 0.3)!important;
  }
  .chubb-list-nab ol.carousel-indicators li.active, .chub-chart .carousel ol.carousel-indicators li.active  {
    background:$magenta !important;
  }
  .chubb-magenta-tab .nav-tabs li {
    width:auto !important;
  }
  .top-nav .navbar {
    position: relative !important;
    background:none !important;
  }
  .chubb-primary-tab .nav-tabs li {
    // width:100% !important;
  }
  .chubb-hero {
    width: 100%;
    height: 400px !important;
    margin-bottom:30px;
  }
  .btn-next-text.float-right{
    float:left !important;
  }
  .chubb-product-tab ul li {
    width: 100% !important;
  }
  .btn-mail, .btn-brochure {
    width: 100%;
    margin: auto auto 20px auto;
  }
    .md-margin-top-10 {
      margin-top:10px;
    }

 }
 @media (min-width:992px) and (max-width: 1279px){
  .menu-dashboard-horizontal ul li .dropdown-menu.show{
    margin-left: -12% !important;
  }

 }
 @media (max-width: 992px) {

  .nav-home {
    overflow-x:scroll
  }
  .nav-home table tr td {
    white-space:nowrap !important;
  }
  .chubb-nav-title table tr td {
    white-space:nowrap !important;
  }
  .side-menu-dashboard-horizontal {
    margin-bottom:30px !important;
    border:#ddd solid 1px;
    background:#fff !important;
  }
  .chubb-menu-dashboard {
    top:0px !important;
    height: 60px;
  }
  .nav-mobile-dashboard {
    margin-top: 10px !important;
  }

  .menu-dashboard-horizontal ul li .dropdown-menu.show ul li {
    width:100% !important;
    
  }
 }

@media (min-width:992px) {
 .side-menu-dashboard-horizontal{
       display:none;
  }
}
@media (min-width:992px ) {
  .menu-dashboard-horizontal ul li {
    width: 16.666% !important;
  }
}
 @media (max-width: 320px) {
  .chubb-navbar {
    padding:0px !important; 
  }
  .chubb-hero {
    width: 100%;
    height: 410px !important;
    margin-bottom:30px;
  }
  .chubb-hero-content {
    width:100%;
    // top: 33% !important;
    // left: 25% !important;
    margin:auto !important; 
    padding:10px !important;
  }
  .chubb-awards-tab .nav-tabs li {
    width:100%;
  }
  .card-body {
    padding:10px !important;
  }
  .card-header {
    padding: 10px !important;
    a {
      font-size:11.5px !important;
    }
  }
  .chubb-hero-content a {
    font-size:13px;
  }
 }
 @media (min-width:1501px) and (max-width: 1600px){
  .chubb-content-dashboard-wrap {
    width:99% !important;
    float:right;
  }
 }

 @media (min-width:1440px) and (max-width: 1500px){
  .chubb-content-dashboard-wrap {
    width:99% !important;
    float:right;
  }
 }

 @media (min-width:1281px) and (max-width: 1439px){
  .chubb-content-dashboard-wrap {
    width:99% !important;
    float:right;
  }
 }
 @media (min-width:1101px) and (max-width: 1280px){
  .chubb-content-dashboard-wrap {
    width:97%;
    float:right;
  }
 }

 @media (min-width:1025px) and (max-width: 1100px){
  .chubb-content-dashboard-wrap {
    width:98%;
    float:right;
  }
 }

 @media (min-width:992px) and (max-width: 1024px){
  .chubb-content-dashboard-wrap {
    width:99%;
    float:right;
  }
 }


//  @media (min-height:100px) and (max-height: 1000px){
//   .chubb-content-dashboard-wrap {
//     background:red;
//   }
//  }
