@import '~assets/sass/vars';

.inner-content-dashboard {
    padding:30px 0px 40px 0px;
}
.welcome-page ul li {
    margin-left:20px;
}
.welcome-page ul li  {
    font-size:13px;
}

.chubb-section-proposal {
    background:#fff;
    padding:30px;
    margin-bottom:30px
}
.headline-proposal  {
    padding:0px 0px 10px 0px;
    border-bottom:4px solid $violet;
}
.table-proposal table {width:100%}
.table-proposal  {
    margin:30px auto 0px 0px;
}
.table-proposal table thead tr th {
    background:$violet !important;
    color:#fff;
    text-align:center;
    width:100%;
    padding:8px;
}
.table-proposal table tr td {
    border:1px solid #ccc;
    padding:8px;
}

.chubb-content-nonpublic {
    margin:20px auto 0px auto;
}

.address p {
    margin-bottom: 0px;
}
