<header-page></header-page>
<content>
  <div class="inner-forget-password">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-header-content">
            <div class="chubb-breadcrumb">
              <a [routerLink]="['']" routerLinkActive="active">
                <span class="icon-left"></span>{{'_home' | translate}}</a>
            </div>
            <h1>{{'_forget_password' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-forget-password-wrap">
    <div class="bg-fullscren-black"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-8 col-lg-8 col-centered">
          <div class="chubb-content-forget-password-wrap" *ngIf="!isQuestion">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="notification-activation" *ngIf="responseEmail">
                    <h4>Perhatian</h4>
                    <p>Kami telah mengirimkan link untuk pemulihan akun ke alamat email Anda {{responseEmail}} yang terdaftar
                      pada system kami. Silakan cek email Anda.</p>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="notification-activation-wording" *ngIf="!responseEmail">
                    <h4>Perhatian</h4>
                    <p>Mohon pastikan email yang Anda masukkan adalah sesuai email yang terdaftar di Chubb dan Anda sudah pernah melakukan aktivasi.</p>
                  </div>
                </div>

                <div class="col-sm-10 col-md-10  col-lg-6 col-centered">
                  <form novalidate (ngSubmit)="onInternalSubmit(internalForm)" #internalForm="ngForm" name="reg">
                    <div class="input-group chubb-login">
                      <div class="input-group-prepend">
                        <div class="icon-mail"></div>
                      </div>
                      <input autocomplete="off" [(ngModel)]="userForgot.email" #email="ngModel" name="email" class="form-control chubb-login-bg"
                        placeholder="{{'_your_email' | translate}}" type="email" [email]="true" required>
                    </div>
                    <div class="form-control-feedback chubb-alert" *ngIf="email.errors && (email.dirty || email.touched)">
                      <p *ngIf="email.errors.required">{{'_email_is_required' | translate}}</p>
                      <p *ngIf="!email.errors.required">{{'_email_is_invalid' | translate}}</p>
                    </div>
                    <div class="separator-login"></div>
                    <div class="form-group text-center">
                      <re-captcha #captchaRef="reCaptcha" class="recaptcha" width="100%" name="captcha" [siteKey]="googleRecaptchaKey" (resolved)="resolved($event)"></re-captcha>
                      <input required autocomplete="off" [(ngModel)]="userForgot.captcha" #captcha="ngModel" type="hidden" name="captcha" placeholder="{{'_captcha' | translate}}">
                    </div>
                    <div class="separator-login"></div>
                    <button class="btn btn-magenta" [disabled]="!userForgot.captcha || !userForgot.email || loadingButton">{{'_reset_password' | translate}}</button>

                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="chubb-content-forget-password-wrap" *ngIf="isQuestion">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-8  col-lg-6 col-centered">
                  <form novalidate (ngSubmit)="onInternalSubmitQuestion(internalFormQuestion)" #internalFormQuestion="ngForm" name="reg">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">{{'_security_question' | translate}}</label>
                      <select [(ngModel)]="userForgot.secretQuestions" #secretQuestions="ngModel" name="secretQuestions" class="form-control no-border-radius"
                        id="exampleFormControlSelect1">
                        <option value="" disabled="disabled">{{'_select_one' | translate}}</option>
                        <option *ngFor="let question of secretQuestionsData" [value]="question.id">{{question.title}}</option>
                      </select>
                      <div class="form-control-feedback chubb-alert" *ngIf="secretQuestions.errors && (secretQuestions.dirty || secretQuestions.touched)">
                        <p *ngIf="secretQuestions.errors.required">{{'_secret_questions_is_required' | translate}}</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{{'_answer' | translate}}</label>
                      <input autocomplete="off" [(ngModel)]="userForgot.secretAnswer" #secretAnswer="ngModel" name="secretAnswer" class="form-control no-border-radius"
                        placeholder="{{'_your_answer' | translate}}" type="text">

                      <div class="form-control-feedback chubb-alert" *ngIf="secretAnswer.errors && (secretAnswer.dirty || secretAnswer.touched)">
                        <p *ngIf="secretAnswer.errors.required">{{'_answer_is_required' | translate}}</p>
                      </div>
                    </div>

                    <div class="separator-login"></div>
                    <button class="btn btn-magenta" [disabled]="loadingButton">{{'_reset_password' | translate}}</button>

                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</content>

<swal #successForgetPassword title="Success" text="{{message}}" type="success">
</swal>
<swal #errorForgetPassword title="{{'_oops' | translate}}" text="{{message}}" type="error">
</swal>

<app-footer></app-footer>