<header-page></header-page>
<content>
<div  class="inner-forget-password">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-header-content">
            <div class="ekreasi-breadcrumb">
              <a [routerLink]="['']" routerLinkActive="active"><span class="icon-left"></span>Home</a>
            </div>
            <h1>Forget Password</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-forget-password-wrap">
    <div class="bg-fullscren-black"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-8 col-lg-7 col-centered">
          <div class="ekreasi-content-forget-password-wrap">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 col-md-8  col-lg-6 col-centered">
                      <form>
                          <div class="input-group ekreasi-login">
                              <div class="input-group-prepend">
                                  <div class="icon-mail"></div>
                              </div>
                              <input type="text" class="form-control ekreasi-login-bg" placeholder="Your Email" >
                          </div>
                          <div class="separator-login"></div>
                          <button class="btn btn-magenta"> Reset Password</button>
                        
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>