<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
        <div class="row">
                <div class="col-lg-12">
                  <div class="ekreasi-header-content-non-public">
                    <div class="ekreasi-breadcrumb">
                        <a [routerLink]="['']" routerLinkActive="active"><span class="icon-left"></span>Home</a>
                      </div>
                      <h1>Unit Price</h1>
                  </div>
                </div>
                
              </div>
        </div>
  </div>
  <div class="inner-content-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
              
            <div class="ekreasi-content-general">
              <div class="headline-left">
                <div class="row">
                  <div  class="col-sm-12">
                        <h5 class="color-violet">List Daily NAV</h5>
                   </div>
                </div>
              </div>
              <div class="ekreasi-content-nonpublic">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="daily-nav">
                                <div class="table-violet">
                                    <table class="table table-striped border-gray-botom-1px thead-center">
                                      <thead>
                                          <tr>
                                              <th>Fund Name</th>
                                              <th>19 March 2018</th>
                                              <th>20 March 2018</th>
                                              <th>Percentage</th>
                                          </tr>
                                      </thead>
                                      <tr>
                                          <td>ekreasi Rupiah Equity Fund</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangleup"></span>Rp 3,467</td>
                                          <td>5%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Rupiah Equity Fund 2</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangleup"></span>Rp 3,467</td>
                                          <td>5%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Rupiah Equity Fund 3</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangleup"></span>Rp 3,467</td>
                                          <td>5%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Rupiah Equity Fund 4</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangledown"></span>Rp 3,267</td>
                                          <td>5%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Money Market Fund</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangleup"></span>Rp 3,567</td>
                                          <td>5%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Rupiah Managed Fund</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangleup"></span>Rp 3,467</td>
                                          <td>4%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Rupiah Stable Fund</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangledown"></span>Rp 3,267</td>
                                          <td>5%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi USD Stable Fund</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangleup"></span>Rp 3,467</td>
                                          <td>4%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Syariah Balanced Fund</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangledown"></span>Rp 3,267</td>
                                          <td>5%</td>
                                      </tr>
                                      <tr>
                                          <td>ekreasi Rupiah Managed Fund</td>
                                          <td class="text-align-right">Rp 3,465</td>
                                          <td class="text-align-right"><span class="icon-triangleup"></span>Rp 3,467</td>
                                          <td>5%</td>
                                      </tr>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="title-bottom-content">
                                            <p>Total  <span class="color-magenta">25</span> Unit Price</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="pagination-magenta float-right">
                                        <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                                        </div>
                                    </div>
                                </div> 
                    
                    </div>
                  </div>
                </div>
                
                  
                
              </div>
            </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>