@import '~assets/sass/vars';
.inner-content-form{
    padding:80px 0px 80px 0px; 
}
.ekreasi-form-wrap {
    background:#fff;
    padding:30px;
}

.link-downloads .icon-downloads {
    font-size:40px;
    color:$magenta
}
.ekreasi-faq-wrap {
    background: #fff;
    padding: 30px 30px 30px 30px; 
}
