@import '~assets/sass/vars';
    .inner-content-news{
        padding:80px 0px 60px 0px; 
    }
    .chubb-summary-news {
        width:100%;
        padding:0px 30px;
        border-left:4px solid $orange;
        margin: 30px 0px 40px 0px;
    }
    .chubb-item-news-thumb {
        width:100%;
        background:#fff;
        margin-bottom:30px;
    }
    .chubb-item-news-thumb a {
        cursor:pointer !important;
    }
    .chubb-item-news-thumb .chubb-news-img:hover {
        box-shadow: 0 4px 8px 0 #f3f2f0, 0 6px 20px 0 #f3f2f0;
    }
    .chubb-item-news-thumb.magenta {
        border-bottom:4px solid $magenta;
    }
    .chubb-item-news-thumb.green {
        border-bottom:4px solid $green;
    }
    .chubb-item-news-thumb.violet {
        // border-bottom:4px solid $violet;
    }
    .chubb-news-img {
        width:100%;
        overflow:hidden;
    }
    .chubb-news-img img {
        width:100%;
    }
    .chubb-summary-news-item {
        padding:30px 20px;
    }
    .chubb-summary-news-item h5 {
        font-family:'publico-roman',serif !important;
        height: 72px;
        overflow: hidden;
    }
    .chubb-summary-news-item p {
        line-height: 27px;
        margin: 23px auto;
        height: 135px;
        overflow: hidden;
    }
    .btn-news.magenta {
        border:3px solid $magenta;
        background:transparent;
        color:$magenta;
        padding: 5px 40px;
    }

    .btn-news.violet {
        border:3px solid $violet;
        background:transparent;
        color:$violet;
        padding: 5px 40px;
    }

    .btn-news.green {
        border:3px solid $green;
        background:transparent;
        color:$green;
        padding: 5px 40px;
    }
    .chub-news-pagination {
        float: right;
        position: absolute;
        bottom: 0;
        right: 15px;
    }