<header-home></header-home>
<content>
  <!-- <div class="inner-content-news" *ngIf="!loadingData">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>
    </div>
  </div> -->
  <div class="load-data" *ngIf="loadingData">
    <div class="inner-content-gray">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-zurich.jpg">
                </div>
                </a>
              </div>
          </div> 
          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-aia.jpg">
                </div>
                </a>
              </div>
          </div> 
          <div class="col-md-4">
            <div class="chubb-item-news-thumb">
                <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
              <div class="chubb-news-img">
                <img src="../../../assets/img/portfolio-sunlife.jpg">
              </div>
              </a>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="chubb-item-news-thumb">
                <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
              <div class="chubb-news-img">
                <img src="../../../assets/img/portfolio-car.jpg">
              </div>
              </a>
            </div>
          </div>  
          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-axa.jpg">
                </div>
                </a>
              </div>
          </div> 
          <div class="col-md-4">
            <div class="chubb-item-news-thumb">
                <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
              <div class="chubb-news-img">
                <img src="../../../assets/img/portfolio-fif.jpg">
              </div>
              </a>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="chubb-item-news-thumb">
                <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
              <div class="chubb-news-img">
                <img src="../../../assets/img/portfolio-fwd.jpg">
              </div>
              </a>
            </div>
          </div>  
          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-bfi.jpg">
                </div>
                </a>
              </div>
          </div> 
          <div class="col-md-4">
            <div class="chubb-item-news-thumb">
                <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
              <div class="chubb-news-img">
                <img src="../../../assets/img/portfolio-radana.jpg">
              </div>
              </a>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="chubb-item-news-thumb">
                <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
              <div class="chubb-news-img">
                <img src="../../../assets/img/portfolio-gsastra.jpg">
              </div>
              </a>
            </div>
          </div>  
          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-kyb.jpg">
                </div>
                </a>
              </div>
          </div>  
          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-aspira.jpg">
                </div>
                </a>
              </div>
          </div> 
          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-incoe.jpg">
                </div>
                </a>
              </div>
          </div>  
          <div class="col-md-4">
              <div class="chubb-item-news-thumb">
                  <a [routerLink]="['/portfolio/portfolio-detail']" routerLinkActive="active">
                <div class="chubb-news-img">
                  <img src="../../../assets/img/portfolio-giant.jpg">
                </div>
                </a>
              </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>