@import '~assets/sass/vars';

.inner-content-dashboard {
    padding:30px 0px 40px 0px;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
    position: relative;
}
.welcome-page ul li {
    margin-left:20px;
}
.welcome-page ul li  {
    font-size:13px;
}

.ekreasi-section-proposal {
    background:#fff;
    padding:30px;
    margin-bottom:30px;
    border: 1px solid #ddd;
}
.headline-proposal  {
    padding:0px 0px 10px 0px;
    border-bottom:4px solid $violet;
}
.table-proposal table {width:100%}
.table-proposal  {
    margin:30px auto 0px 0px;
}
.table-proposal table thead tr th {
    background:$violet !important;
    color:#fff;
    text-align:center;
    width:100%;
    padding:8px;
}
.table-proposal table tr td {
    border:1px solid #ccc;
    padding:8px;
}
.icon-panel .icon-user:before {
    font-size:28px;
}
.ekreasi-section-policy {
    background:#fff;
    padding:30px;
    margin-bottom:30px;
    border: 1px solid #ddd;
}

.ekreasi-section-nav {
    padding:10px 30px 30px 30px;
    margin-bottom:0px;
    border: 1px solid #ddd;
}
.headline-nav  {
    padding:10px 0px 10px 0px;
    border-bottom:2px solid $cyan;
}
.headline-policy a:hover {
    color:$magenta;
}

.headline-policy  {
    padding:10px 0px 10px 0px;
    margin-bottom: 20px;
}
.table-policy table {width:100%;}
.table-policy  {

}
.table-policy table thead tr th {
    color:#fff;
    text-align:center;
    width:100%;
    padding:8px;
}
.table-policy table tr td {
    // border-top:1px solid rgba(255,255,255,0.3);
    // border-bottom:1px solid rgba(255,255,255,0.3);
    // border-left:none;
    // border-right:none;
    border:none;
    padding:8px;
    color:$dark-gray;
}
.table-policy table tr td strong {
    color:#000;
}
.table-policy table {
    width:70% !important;
    margin:auto
}

.table-policy  {
    padding:20px 0px 20px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.side-menu-dashboard-horizontal {
    background:#fff;
}
.ekreasi-section-policy-wrap {
    margin-bottom:30px;
}


//Hero Slide show
.ekreasi-banner-dashboard {
    width:100%;
    height:250px;
    overflow: hidden;
    position: relative;
    background:#fff;
    margin-bottom:30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.img-hero-banner {
   
    width:100%;
    height:100%;

}
.img-hero-banner img {
    height: 100%;
    width:100%
}
.bg-hero {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:1;
}
.ekreasi-banner-dashboard-text {
    background:#fff;
    padding: 30px 30px 34px 30px;
    color: $dark-gray;
}
.leftRs, .rightRs {
    display:none !important;
}
.ekreasi-banner-dashboard-text a {
    color:$dark-gray;
}
.ekreasi-banner-dashboard-text a span.icon-right{
    line-height:0px;
}
.ekreasi-banner-dashboard-text a span.icon-right:before {
    position: relative;
    top:2px;
}
.title-wrap-dashboard {
    padding:0px;
}
.headline-policy {
    padding:0px;
    border-bottom:2px solid $cyan;
}

.btn-policy-dashboard  {
    padding: 0px 0px 20px 0px;
    margin: auto;
    color: #fff;
    width: 100%;
    text-align: right;
}
.box-policy-title {
    padding: 0px 20px 0px 30px;
    color: #fff;
    text-align: left;
}
.box-policy-wrap {

}

.box-policy-title i:before{
    font-size: 32px;
    right: 9px;
    position: absolute;
    margin-top: -22px;
}
.box-policy-title span {
    margin:auto;
}
.box-policy-title i {
    position:relative;
}

.headline-nav h5 {
    text-align:center
}