<header-non-public></header-non-public>
<content>
    <div class="inner-content-gray min-height-nonpublic">
        <div class="side-menu-dashboard-vertical">
            <menu-dashboard-vertical></menu-dashboard-vertical>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="chubb-content-dashboard-wrap">
                        <div class="side-menu-dashboard-horizontal">
                            <menu-dashboard-horizontal></menu-dashboard-horizontal>
                        </div>

                        <div class="chubb-content-general">
                            <div class="headline-left border-bottom-gray">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5 class="color-orange">
                                            {{'_daily_unit_price' | translate}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="chubb-content-nonpublic">
                                <div class="row">
                                    <div class="col-lg-12 headline-center-tab">
                                        <div class="background-white">
                                            <div class="search-wrap">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlSelect1">{{'_fund_name' | translate}}</label>
                                                                <select class="form-control no-border-radius" [(ngModel)]="modelFundName" id="exampleFormControlSelect1">
                                                                    <option value="">{{'_select_one' | translate}}</option>
                                                                    <option *ngFor="let fundName of fundNameData">{{ fundName }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">{{'_compare_price_on' | translate}}</label>
                                                            <div class="input-group">
                                                                <input autocomplete="off" class="form-control" (click)="start.toggle()" placeholder="{{ dateStart | date:'yyyy-MM-dd' }}"
                                                                    [(ngModel)]="modelStart" ngbDatepicker #start="ngbDatepicker" readonly [maxDate]="disableModelStart">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
                                                                        <i class="far fa-calendar-alt"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">{{'_with' | translate}}</label>
                                                            <div class="input-group">
                                                                <input autocomplete="off" class="form-control" (click)="end.toggle()" placeholder="{{ dateEnd | date:'yyyy-MM-dd' }}"
                                                                    [(ngModel)]="modelEnd" ngbDatepicker #end="ngbDatepicker" readonly [maxDate]="disableModelEnd">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" (click)="end.toggle()" type="button">
                                                                        <i class="far fa-calendar-alt"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                            <div class="reset-filter" *ngIf="modelFundName || modelStart || modelEnd">
                                                                <a (click)="doResetFilter()">Reset Filter</a>
                                                            </div>
                                                        <button (click)="doSearch()" class="btn-magenta btn-search-fund">{{'_search' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-orange unit-price overflow-x">
                                                <table class="table table-striped border-gray-botom-1px thead-center">
                                                    <thead>
                                                        <tr>
                                                            <th>{{'_fund_name' | translate}}</th>
                                                            <th>{{ dateStart | date:'dd MMM yyyy' }}</th>
                                                            <th>{{ dateEnd | date:'dd MMM yyyy' }}</th>
                                                            <th class="table-reorder" [class.active]="order === 'percentage'" (click)="setOrder('percentage')">{{'_percentage' | translate}}
                                                                <span [hidden]="reverse">
                                                                    <i class="fas fa-sort-down"></i>
                                                                </span>
                                                                <span [hidden]="!reverse">
                                                                    <i class="fas fa-sort-up"></i>
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tr *ngIf="dailyNavData == false">
                                                        <td colspan="7">{{'_data_not_found' | translate}}</td>
                                                    </tr>
                                                    <tr *ngIf="!loadingData">
                                                        <td colspan="7">{{'_loading_data' | translate}}</td>
                                                    </tr>
                                                    <tbody *ngIf="dailyNavData && loadingData">
                                                        <tr *ngFor="let dailyNav of dailyNavData | orderBy: order:reverse:'case-insensitive'">
                                                            <td>{{ dailyNav.fundName }}</td>
                                                            <td class="text-center">{{ dailyNav.bidPriceDateStart | currency:dailyNav.moneyCode + ' ':'symbol':'1.4-4'
                                                                }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ dailyNav.bidPriceDateEnd | currency:dailyNav.moneyCode + ' ':'symbol':'1.4-4' }}
                                                                <span [ngClass]="{'icon-triangleup daily' : dailyNav.bidPriceDateEnd > dailyNav.bidPriceDateStart , 'icon-triangledown daily' : dailyNav.bidPriceDateEnd < dailyNav.bidPriceDateStart , 'icon-equals daily' : dailyNav.bidPriceDateEnd == dailyNav.bidPriceDateStart}"></span>
                                                            </td>
                                                            <td class="text-center">{{ dailyNav.percentage }} %</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chubb-content-nonpublic">
                                <div class="row">
                                    <div class="col-lg-12">


                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
<app-footer></app-footer>