<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ekreasi-header-content-non-public">
                <div class="ekreasi-breadcrumb">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"><span class="icon-left"></span>Dashboard</a>
                  </div>
              <h1>Customer Corner</h1>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="ekreasi-header-content welcome-page float-right">
                  <h4>Welcome,<span class="color-violet"> Permata Putri </span></h4>
                  <ul>
                    <li>Last Login at Friday, 9 Feb 2018. 01:58pm </li>
                    <li>You Have <a [routerLink]="['/inbox']"><span class="circle-mail">3</span></a>Unread notification</li>
                  </ul>
              </div>
          </div>
        </div>
  </div>
  </div>
  <div class="inner-content-gray">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="ekreasi-content-general">
              <div class="headline-left">
                  <div  class="col-sm-12 change-password">
                    <h5 class="color-violet">Change Password</h5>
                  </div>
              </div>
              <div class="ekreasi-content-nonpublic">

                  <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-5 col-centered  min-height-500">
                          <form>
                                <div class="form-group wrap-change-password">
                                        <label>Current Password</label>
                                        <input type="text" class="form-control no-border-radius" aria-describedby="New-Password" placeholder="New Password">
                                    </div>
                              <div class="form-group wrap-change-password">
                                  <label>New Password</label>
                                  <input type="text" class="form-control no-border-radius" aria-describedby="New-Password" placeholder="New Password">
                              </div>

                              <div class="form-group">
                                  <label>Retype New Password</label>
                                  <input type="text" class="form-control no-border-radius" aria-describedby="New-Password" placeholder="Retype New Password">
                              </div>


                              <div class="separator-login"></div>
                              <button class="btn btn-magenta"> Reset Password</button>
                            
                              <div class="clearfix"></div>
                          </form>
                      </div>
                  </div>
             </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</content>
<app-footer></app-footer>