@import '~assets/sass/vars';
    .inner-content-search{
        padding:80px 0px 80px 0px; 
    }


.item-search {
    padding: 15px 10px;
    border-bottom:1px solid #eee;
}
.item-search p {
    margin:auto
}
.headline-center-violet {
    padding: 0px 0px 10px 0px;
}
.searcht-title-result h5 {
    text-align:center;
    padding:20px 0px 0px 0px;
}
.bottom-content {
    padding:30px 0px 0px 0px;
}
.title-bottom-content p {
    margin:auto;
}