@import '~assets/sass/vars';


    //Header Content 
      
        .chubb-summary-about {
            width:100%;
            padding:0px 30px;
            border-left:3px solid $green;
            margin: 30px 0px 40px 0px;
        }
        .chubb-summary-about p {
            line-height:40px;
        }
        .chubb-image-about img {
            width:100%;
        }
        .chubb-secondary-paragraph {
            width:100%;
            float:right;
            padding:40px 0px;
        }
        .chubb-secondary-paragraph p {
            line-height:40px;
        }
        .chubb-secondary-paragraph ul li {
            padding:15px 0px;
            margin-left:40px;
        }
        .chubb-secondary-paragraph ul {
            margin-bottom:20px;
        }
        .chubb-header-content h1 {
            padding: 20px 0px 20px 0px;
        }