<header-page></header-page>
<content>
  <div  class="inner-content-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-header-content">
            <div class="ekreasi-breadcrumb">
              <a [routerLink]="['/tips-trick']" routerLinkActive="active"><span class="icon-left"></span>Tips & Trick</a>
            </div>
            <h1>ekreasi Life Indonesia Meluncurkan <br>
                Produk Inovatif Sesuai Kebutuhan</h1>
          </div>
          <div class="ekreasi-image-about">
            <img src="./assets/img/dummy/detail-news.jpg">
          </div>
          <div class="ekreasi-secondary-paragraph">
            <p>
                Jakarta, 7 Juni 2017 – PT ekreasi Life Insurance Indonesia (‘ekreasi Life/ Perusahaan’) merayakan ulang tahunnya yang ke-8 dengan meluncurkan asuransi perlindungan pertama yang dapat disesuaikan dengan kebutuhan, ‘My Flexi Health’.
                <br>
                “Kami selalu berkomitmen untuk menghadirkan produk inovatif yang menjadikan kami berbeda dengan perusahaan asuransi jiwa lainnya di Indonesia,” jelas William O’Brien Johnston (Bill Johnston), Presiden Direktur ekreasi Life.
                <br>
                Beliau menambahkan dalam rangka merayakan ulang tahun ke delapan, ekreasi Life Indonesia secara resmi meluncurkan produk asuransi tambahan ‘My Flexi Health’ sebagai bentuk pengabdian kami untuk memenuhi kebutuhan dari pelanggan kami.
                <br>
                ‘My Flexi Health’ adalah asuransi perlindungan unik yang memberikan pertanggungan yang komprehensif serta dapat di personalisasi sesuai dengan kebutuhan nasabah. Produk asuransi tambahan ini bisa didapatkan dengan mengkombinasikan produk asuransi unit-link dasar yang ditawarkan oleh ekreasi Life, dan hadir dengan banyak keuntungan bagi nasabah: </p>
                <ul>
                  <li>Pilihan program yang dapat disesuaikan dengan kebutuhan nasabah</li>
                  <li>Potongan biaya asuransi sampai dengan 20% jika tidak ada klaim di tahun sebelumnya</li>
                  <li>Limit tahunan sampai dengan Rp 6 miliar</li>
                  <li>Tanpa pemeriksaan kesehatan sebelumnya untuk nasabah berusia sampai dengan 50 tahun</li>
                  <li>Pembayaran klaim sesuai dengan tagihan rumah sakit</li>
                  <li>Dapat disesuaikan dengan gaya hidup dan kondisi finansial nasabah</li>
                </ul>
                <p>Bill Johnston menambahkan, “Peluncuran ‘My Flexi Health’ adalah bentuk respon dari perusahaan terhadap peningkatan kesadaran masyarakat mengenai kesenjangan perlindungan kesehatan, dan ini adalah salah satu cara kami untuk menciptakan nilai lebih bagi para nasabah. Produk asuransi tambahan ini tersedia untuk nasabah mulai dari usia 1 bulan sampai 65 tahun.”
                <br>
                Selain peluncuran ‘My Flexy Health’, ekreasi Life di Indonesia juga akan meluncurkan serangkaian kegiatan CSR untuk merayakan ulang tahunnya di lima kota besar yaitu Medan, Jakarta, Denpasar, Bandung, dan Surabaya. Kegiatan ini meliputi Talk Show Kesehatan yang akan dibawakan oleh Dokter Spesialis dengan topik antara lain diabetes, penyakit jantung seperti stroke dan hipertensi; kegiatan untuk mempromosikan gaya hidup sehat; dan mengunjungi bangsal anak-anak di rumah sakit setempat untuk memberikan hiburan dan hadiah kepada anak-anak yang membutuhkan.</p>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>