<footer class="background-darkgray ">
  <section>
      <section class="container">
        <div>
          <div class="row">
            <div class="col-lg-6 copyright">
              <a  href="#" class="ekreasi-logo-footer">
                <img class="logo-footer" src="assets/img/ekreasi-logo.svg">
              </a>
              <span>Copyright 2018 PT Integrasi Media Kreasi</span>
            </div>
            <div class="col-lg-6">
              <div class="terms-link">
                <ul>
                  <li><a [routerLink]="['/term-of-use']">Terms of Use</a></li>
                  <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-section-2">
          © 2018 <b>PT Integrasi Media Kreasi</b> — All Rights Reserved
        </div>
      </section>
  </section>
</footer>
