@import '~assets/sass/vars';
// Footer 
.footer-about, .footer-shortcut, .footer-call, .footer-wrap {
    padding:30px 0px 0px 0px;
}
.footer-about h5, .footer-shortcut h5 {
    font-family: 'TrebuchetMS-Bold',sans-serif;
    color: $dark-gray;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid rgba(0,0, 0, 0.1);
}
.footer-about ul li{
    list-style:none;
    line-height:38px;
}
.footer-about ul li a {
    color:$dark-gray;
    font-size:15px;
}
.footer-shortcut ul li {
    list-style:none;
    line-height:33px;
}
.footer-shortcut ul li a {
    color:$dark-gray;
    font-size:15px;   
}
p.date-nav {
    padding:10px 8px;
    margin:auto;
}
.chubb-logo-footer {
    width:100px;
}
.footer-section-1 {
    padding:15px 0px;
}
.terms-link ul {
    margin:auto;
    float:right;
}
.terms-link ul li {
    list-style:none;
    float:left;
    padding:0px 10px;
}
.terms-link ul li a {
    color:$dark-gray;
    font-size:15px;
}
.copyright span {
    color:$dark-gray;
    font-size:14px;
}
.copyright {
    text-align:center;
}
.footer-section-1 {
    border-top:1px solid rgba(0, 0, 0, 0.1)
}
.footer-section-2 {
    padding:10px 0px;
    text-align:center;
    font-size:13px;
    color:$dark-gray;
    margin-left: 10px;
}
.background-darkgray {
    width:100%;
    // background:$soft-gray1;

}
.footer-wrap {
    color: $dark-gray;
    line-height:35px;
    font-size:15px;
}
.footer-wrap h5 {
    font-family: 'TrebuchetMS-Bold',sans-serif;
    color:$dark-gray;
    padding:0px 0px 15px 0px;
    border-bottom:1px solid rgba(0,0,0,0.1)
}
.footer-wrap p {
    color:$dark-gray;
    line-height:28px;
    font-size:15px;
    margin:10px;
}
.chubb-footer-bottom {
    margin-top: 40px;
}
.footer-call ul {
    border-top:1px solid rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    padding-top: 16px;
}
.footer-call ul li {
    list-style:none;
}
.footer-call ul li a {
    color:$dark-gray;
}
.footer-call ul li a span {
    font-size:30px;
    position: relative;
    margin-right:18px;
}
.footer-call ul li a p {
    padding-top:10px;
}
.footer-call ul li a span:before {
    position:absolute;
    top:6px;
}

.footer-call ul li a span.icon-watch {
    color:$magenta;
}
.footer-call ul li a span.icon-callcenter:before {
    color: #9254de;
    font-size: 45px !important;
    top: 0px;
    left: -7px;
}

.footer-call ul li a span.icon-mail:before {
    color: $green;
    font-size: 40px !important;
    top: 0px;
    left: -7px;
}

#browser-information {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9999;

    .container {
        background-color: #fff;
        color: #333;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,.5);
        box-shadow: 0 0 15px rgba(0,0,0,.5);
        padding: 10px 10px 10px 15px;
        max-width: 800px;

        .left-area {
            width: 95%;
        }

        .right-area {
            width: 5%;
            text-align:center;
        }
        
        .icon {
            img {
                margin-right: 15px;
                width: 50px;
            }
        }

        .text {
            p {
                font-size: 16px;
                line-height: 25px;
                margin: 0px;
            }
        }

        .icon-close {
            cursor: pointer;
            line-height: 52px;
        }
    }
}
@media (max-width: 600px) {
    #browser-information {
        .container {
            padding: 10px;
        
            .icon {
                img {
                    margin-right: 10px;
                }
            }

            .text {
                p {
                    font-size: 14px;
                    line-height: 17px;
                    margin: 0px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    #browser-information {
        .container {
            .text {
                p {
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
    }
}
@media (max-width: 330px) {
    #browser-information {
        .container {
            .text {
                p {
                    font-size: 12px;
                    line-height: 13px;
                }
            }
        }
    }
}