<footer class="background-darkgray ">
  <section class="container">
    <div class="row ">
      <div class="col-lg-4">
        <div class="footer-wrap">
          <h5> Customer Service Centre </h5>
          <p>
              PT ekreasi Life Insurance Indonesia <br>
              Plaza Permata, 1st Fl.<br>
              Jl. M.H. Thamrin No. 57 <br>
              Jakarta, 10310  
          </p>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="footer-call">
              <ul>
                <li>
                  <a href="#">
                    <span class="icon-watch"></span>
                    Senin-Jumat, 09.00-17.00 WIB
                  </a>
                </li>
                <li>
                    <a href="#">
                      <span class="icon-callcenter"></span>
                      +62 21 2356 8887
                    </a>
                </li>
                <li>
                    <a href="#">
                      <span class="icon-mail"></span>
                      Customer.Service.IDLife@ekreasi.com
                    </a>
                </li>
              </ul>
          </div>
      </div>
      <!-- <div class="col-lg-2">
        <div class="footer-about">
            <h5>About Us </h5>
            <ul>
              <li><a [routerLink]="['/about/about-ekreasi']" routerLinkActive="active">About ekreasi</a></li>
              <li><a [routerLink]="['/product']" routerLinkActive="active">Product</a></li>
              <li><a [routerLink]="['/news']" routerLinkActive="active">News</a></li>
              <li><a [routerLink]="['/contact']" routerLinkActive="active" >Contact Us</a></li>
            </ul>
        </div>
      </div> -->
      <div class="col-lg-4">
          <div class="footer-shortcut">
              <h5> Tautan Cepat </h5>
              <ul>
                <li><a [routerLink]="['/product']" routerLinkActive="active">Products</a></li>
                <li><a [routerLink]="['/form-downloads']" routerLinkActive="active">Form Download</a></li>
                <li><a [routerLink]="['/faq']" routerLinkActive="active">FAQ</a></li>
                <li><a [routerLink]="['/office-network']" routerLinkActive="active">Jaringan Kantor</a></li>
              </ul>
          </div>
      </div>
    </div>
  </section>
  <section class="ekreasi-footer-bottom">
      <section class="container">
        <div class="footer-section-1">
          <div class="row">
            <div class="col-lg-6 copyright">
              <a  href="#" class="ekreasi-logo-footer">
                <img class="logo-footer" src="assets/img/ekreasi-logo.svg">
              </a>
              <span>Copyright 2018 PT Integrasi Media Kreasi</span>
            </div>
            <div class="col-lg-6">
              <div class="terms-link">
                <ul>
                  <li><a [routerLink]="['/term-of-use']">Terms of Use</a></li>
                  <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-section-2">
          PT ekreasi Life Insurance Indonesia terdaftar & diawasi oleh Otoritas Jasa Keuangan
        </div>
      </section>
  </section>
</footer>
