<header-page-tosca></header-page-tosca>
<content>
  <div class="inner-content-gray">
    <div class="container">

      <div class="blog-content-detail">

        <img clss="img-responsive" src="assets/img/news_gemesin.png" alt="...">
        <h3>Program Nabung Saham untuk seluruh karyawan Indocyber</h3>
        <span>Posted on <b>26/11/2018</b>, category <b>Asuransi</b></span>
        <p class="blog-text">PT MNC Sekuritas meluncurkan Program Karyawan Nabung Saham. Program ini bekerjasama dengan 5 perusahaan di bidang IT yang ditandai dengan penandatanganan piagam di Bursa Efek Indonesia, Jakarta, Jumat (29/10/2018).</p>
        <p>Penandatanganan dilakukan oleh Direktur Utama MNC Sekuritas Susy Meilina dengan Direktur Utama PT Indocyber Global Teknologi Kresno Budoyo, CEO PT IDstar Cipta Teknologi Arifa Tan, Direktur Utama PT lnti Data Utama Audie Suhandinata, Direktur Utama PT Satu Reka Cipta Marcino Waas, dan Direktur PT lntegrasi Media Kreasi Ferytino Maslianto.</p>
        <p>Dalam program tersebut setiap perusahaan memberikan insentif kepada karyawannya berupa tabungan saham senilai Rp500 ribu yang bekerjasama dengan MNC Sekuritas yakni dalam produk MNC GEMESIN Plus. Insentif ini diberikan pada saat karyawan berulang tahun.</p>
        <p>"Peluncuran program nabung saham yang menyasar pada berbagai kalangan masyarakat ini untuk meningkatkan kesadaran investasi di pasar modal melalui produk tabungan saham yang sederhana, praktis, dan mudah dimengerti yaitu MNC GEMESIN Plus,&rdquo; kata Direktur Utama MNC Sekuritas Susy Meilina dalam sambutannya.</p>
        <p>Untuk diketahui, MNC GEMESIN Plus adalah produk MNC Sekuritas yang mengajak masyarakat Indonesia (umum dan mahasiswa) untuk menabung saham secara rutin dan berkala di pasar modal, dengan minimal dana Rp 100.000 (dan kelipatannya) per bulan. Selain investasi, nasabah MNC GEMESIN Plus juga dapat memperoleh manfaat tambahan berupa proteksi yaitu asuransi kecelakaan</p>
        <p>Dari kelima perusahaan tersebut maka akan menambah jumlah investor baru di pasar modal sebanyak 1.000 investor. Di mana MNC Sekuritas juga akan terus memfasilitasi karyawan dengan pelatihan dan pengenalan mengenai pasar modal.</p>
        <p>Susy menyatakan, program saham bagi karyawan ini menjadi yang pertama ada di Indonesia. Maka diharapkan, ke depannya semakin banyak jumlah perusahaan yang memberikan insentif bagi karyawannya dengan pemberian saham.</p>
        <p>"Kerjasama perusahaan dengan MNC Sekuritas ini merupakan terobosan yang luar biasa. Saat ini dimulai dengan 5 perusahaan, yang seharusnya bisa jadi contoh perusahaan-perusahaan lain. Jadi kita bukan hanya ciptakan kebiasaan investasi, tapi buka jalan untuk investasi," kata dia.</p>
        <p>Sementara itu, Direktur Pengembangan Hasan Fawzi menyambut baik program ini. Menurutnya, untuk memulai investasi di pasar saham tentunya memerlukan modal awal investasi, dengan program ini maka insentif dari perusahaan memberikan stimulus untuk karyawan bisa menjadi investor yang terus aktif menabung saham.</p>
        <p>"Dengan ini kan perusahaannya kasih modal khusus untuk karyawan, awal diberi Rp500 ribu untuk karyawan yang ulang tahun, uang itu untuk pembukaan rekening efek yang jadi mitra. Jadi itu kesempatan untuk tingkatkan kesadaran karyawan mengenai pasar modal," kata dia dalam kesempatan yang sama.</p>
        <p>Direktur Utama PT Indocyber Global Teknologi Kresno Budoyo menambahkan, kerjasama ini dilakukan untuk memberikan apresiasi atas loyalitas dan kontribusi karyawan. Menurutnya, karyawan adalah aset yang menentukan kesuksesan suatu perusahaan.</p>
        <p>"Nantinya seluruh karyawan kami akan memperoleh top-up dana investasi tabungan saham pada saat berulang tahun. Kami ingin mereka belajar mengatur keuangan dan mempersiapkan masa depan finansial dengan lebih baik,&rdquo; jelas Kresno.</p>
        <p>Untuk diketahui, acara peluncuran Program Karyawan Nabung Saham ditutup dengan Sekolah Pasar Modal (5PM) oleh Bursa Efek Indonesia, Kustodian Sentral Efek Indonesia, dan MNC Sekuritas.</p>
      </div>

    </div>
  </div>    
</content>
<app-footer></app-footer>