<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ekreasi-header-content-non-public">
                <div class="ekreasi-breadcrumb">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"><span class="icon-left"></span>Dashboard</a>
                  </div>
              <h1>Customer Corner</h1>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="ekreasi-header-content welcome-page float-right">
                  <h4>Welcome,<span class="color-violet"> Permata Putri </span></h4>
                  <ul>
                    <li>Last Login at Friday, 9 Feb 2018. 01:58pm </li>
                    <li>You Have <a [routerLink]="['/inbox']"><span class="circle-mail">3</span></a>Unread notification</li>
                  </ul>
              </div>
            </div>
        </div>
  </div>
  </div>
  <div class="inner-content-gray">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="ekreasi-content-general">
              <div class="headline-left border-bottom-blue">
                <div class="row">
                  <div  class="col-sm-12">
                    <h5 class="color-blue">Customer Service</h5>
                  </div>
                </div>
              </div>
              <div class="ekreasi-content-nonpublic margin-20">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="item-message background-read">
                      <a [routerLink]="['/customer-service-detail']">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message ">
                              <h5>Customer Service</h5>
                              <p>Question about ekreasi product</p>
                              <div class="read color-gray  float-right italic-style"><i class="fas fa-check"></i> Read</div>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                            <div class="content-date float-right">
                              19 Apr 2017
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </a>
                    </div>

                    <div class="item-message">
                      <a [routerLink]="['/customer-service-detail']">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                                <h5>Customer Service</h5>
                                <p>Question about ekreasi product</p>
                              
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                            <div class="content-date float-right">
                              10 Apr 2017
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </a>
                    </div>


                    <div class="item-message">
                        <a [routerLink]="['/customer-service-detail']">
                          <div class="row">
                            <div class="col-xs-2 col-lg-1">
                              <div class="avatar-message background-tosca">
                                <p>C</p>
                              </div>
                            </div>
                            <div class="col-xs-7 col-lg-8">
                              <div class="content-message">
                                  <h5>Customer Service</h5>
                                  <p>Question about ekreasi product</p>
                              </div>
                            </div>
                            <div class="col-xs-3 col-lg-3">
                              <div class="content-date float-right">
                                10 Apr 2017
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </a>
                    </div>

                    <div class="item-message">
                        <a [routerLink]="['/customer-service-detail']">
                          <div class="row">
                            <div class="col-xs-2 col-lg-1">
                              <div class="avatar-message background-tosca">
                                <p>C</p>
                              </div>
                            </div>
                            <div class="col-xs-7 col-lg-8">
                              <div class="content-message">
                                  <h5>Customer Service</h5>
                                  <p>Question about ekreasi product</p>
                              </div>
                            </div>
                            <div class="col-xs-3 col-lg-3">
                              <div class="content-date float-right">
                                9 Apr 2017
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </a>
                    </div>
                    <div class="item-message">
                      <a [routerLink]="['/customer-service-detail']">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-7 col-lg-8">
                            <div class="content-message">
                                <h5>Customer Service</h5>
                                <p>Question about ekreasi product</p>
                            </div>
                          </div>
                          <div class="col-xs-3 col-lg-3">
                            <div class="content-date float-right">
                              19 Apr 2017
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row margin-20">
                    <div class="col-lg-6">
                        <div class="title-bottom-content">
                            <p>Total  <span class="color-magenta">25</span> Customer Service</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="pagination-magenta float-right">
                        <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                      </div>
                    </div>
                </div>
              </div>
            </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>