<header-non-public></header-non-public>
<content>
  <div class="inner-content-gray min-height-nonpublic">
    <div class="side-menu-dashboard-vertical">
      <menu-dashboard-vertical></menu-dashboard-vertical>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal">
              <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>

            <div class="chubb-content-general">
              <div class="headline-left">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="color-tosca">
                      {{'_history' | translate}}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="chubb-content-nonpublic">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>{{'_policy_number' | translate}}</label>
                      <select class="form-control no-border-radius" [(ngModel)]="modelPolicyNo">
                        <option selected="selected" value="">{{'_select_policy_number' | translate}}</option>
                        <option *ngFor="let policy of policyData" value="{{policy.policyNo}}">{{policy.policyNo}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>{{'_status_claim' | translate}}</label>
                      <select class="form-control no-border-radius" [(ngModel)]="modelStatus">
                        <option selected="selected" value="">{{'_select_status_claim' | translate}}</option>
                        <option *ngFor="let status of statusClaimData" value="{{status}}">{{status}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>{{'_event_date' | translate}}</label>
                      <div class="input-group">
                        <input autocomplete="off" class="form-control no-style-invalidate" (click)="s.toggle()" placeholder="dd MMM YYYY" [(ngModel)]="modelStartHistory" ngbDatepicker
                          #s="ngbDatepicker" readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="s.toggle()" type="button">
                            <i class="far fa-calendar-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="reset-filter" *ngIf="modelPolicyNo || modelStartHistory || modelStatus">
                      <a (click)="doResetFilter()">Reset Filter</a>
                    </div>
                    <button class="btn-magenta btn-search-fund" (click)="doSearchHistory()">{{'_search' | translate}}</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-tosca table-scroll-x">
                      <table class="table table-striped violet border-gray-botom-1px thead-center">
                        <thead>
                          <tr>
                            <th>{{'_claim_number' | translate}}</th>
                            <th>{{'_type' | translate}}</th>
                            <th>{{'_status' | translate}}</th>
                            <th>{{'_policy_number' | translate}}</th>
                            <th>{{'_life_assured' | translate}}</th>
                            <th>{{'_event_date' | translate}}</th>
                            <th>{{'_hospital_name' | translate}}</th>
                          </tr>
                        </thead>
                        <tr *ngIf="!loadingData">
                          <td colspan="7">{{'_loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="loadingData && historyData.length == 0 && firstLoading">
                          <td colspan="7">{{'_data_not_found' | translate}}</td>
                        </tr>
                        <tr *ngFor="let history of historyData">
                          <td>
                            <a [routerLink]="['/history-detail', history.claimId]">{{history.claimNumber}} </a>
                          </td>
                          <td>{{history.typeRider}}</td>
                          <td>{{history.statusName}}</td>
                          <td>{{history.policyNo}}</td>
                          <td>{{history.lifeAssured}}</td>
                          <td>{{history.admissionDate}}</td>
                          <td>{{history.hospitalName}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="title-bottom-content">
                      <p>{{'_total_records' | translate}}
                        <span class="color-magenta">{{historyTotal}}</span> {{'_claim_tracking' | translate}}</p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="pagination-magenta float-right">
                      <ngb-pagination [collectionSize]="historyTotalDataPagination" [(page)]="historyCurrentPage" aria-label="Default pagination"
                        [maxSize]="3" [pageSize]="historyPerPage" (pageChange)="loadPage($event)"></ngb-pagination>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>