<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ekreasi-header-content-non-public">
                <div class="ekreasi-breadcrumb">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"><span class="icon-left"></span>Dashboard</a>
                  </div>
              <h1>Customer Corner</h1>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="ekreasi-header-content welcome-page float-right">
                  <h4>Welcome,<span class="color-violet"> Permata Putri </span></h4>
                  <ul>
                    <li>Last Login at Friday, 9 Feb 2018. 01:58pm </li>
                    <li>You Have <a [routerLink]="['/inbox']"><span class="circle-mail">3</span></a>Unread notification</li>
                  </ul>
              </div>
            </div>
        </div>
  </div>
  </div>
  <div class="inner-content-gray">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="ekreasi-content-general">
              <div class="headline-left border-bottom-blue">
                <div class="row">
                  <div  class="col-sm-6">
                    <h5 class="color-blue">Inbox</h5>
                  </div>
                  <div  class="col-sm-6">
                    <div class="inbox-menu">
                      <div class="form-check float-left">
                              <div class="custom-control form-control-lg custom-checkbox"> 
                                  <input type="checkbox" class="custom-control-input" id="customCheck1">  
                                  <label class="custom-control-label" for="customCheck1"></label>
                              </div> 
                              <div class="float-left date-check">Sellect Al</div>
                      </div>
                      <button class="btn-magenta btn-delete-inbox float-right">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ekreasi-content-nonpublic margin-20">
                <div class="row">
                  <div class="col-lg-12">

                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                            <div class="content-inside-item">
                                <div class="float-left date-check"> 10 Apr 2017</div>
                                <div class="custom-control form-control-lg custom-checkbox"> 
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">  
                                    <label class="custom-control-label" for="customCheck2"></label>
                                </div> 
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck3">  
                                      <label class="custom-control-label" for="customCheck3"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck4">  
                                      <label class="custom-control-label" for="customCheck4"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck5">  
                                      <label class="custom-control-label" for="customCheck5"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck6">  
                                      <label class="custom-control-label" for="customCheck6"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck7">  
                                      <label class="custom-control-label" for="customCheck7"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck8">  
                                      <label class="custom-control-label" for="customCheck8"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck9">  
                                      <label class="custom-control-label" for="customCheck9"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="item-message">
                        <div class="row">
                          <div class="col-xs-2 col-lg-1">
                            <div class="avatar-message background-tosca">
                              <p>C</p>
                            </div>
                          </div>
                          <div class="col-xs-8 col-lg-9">
                            <div class="content-message">
                              <h6>ekreasi Customer Service</h6>
                              <a [routerLink]="['/inbox-detail']"> 
                                  <h5>ekreasi Life di Indonesia meluncurkan Loyalty Link</h5>
                                  <p>PT Cubb Life Insurance Indonesia ("ekreasi Life"), Hari ini mengumumkan peluncuran produk...</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-xs-2 col-lg-2">
                              <div class="content-inside-item">
                                  <div class="float-left date-check"> 10 Apr 2017</div>
                                  <div class="custom-control form-control-lg custom-checkbox"> 
                                      <input type="checkbox" class="custom-control-input" id="customCheck10">  
                                      <label class="custom-control-label" for="customCheck10"></label>
                                  </div> 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>

                  </div>
                </div>
                <div class="row margin-20">
                    <div class="col-lg-6">
                        <div class="title-bottom-content">
                            <p>Total  <span class="color-magenta">25</span>Inbox</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="pagination-magenta float-right">
                        <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                      </div>
                    </div>
                </div>
              </div>
            </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>