@import '~assets/sass/vars';


//Navigation 



.chubb-hero-content h2 {
    font-size: 3rem ;
    font-family:'TrebuchetMS-Bold',sans-serif;
    color:#464646;
    
}

.chubb-hero-content {
    top: 23%;
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: 0px 0px 0px 74px;
    width: auto;
}

//Nav 
.chubb-nab {
    width:100%;
    margin-top:30px;
    }
    .chubb-list-nab table tr td.align-left {
    text-align:left;
    }
    .chubb-list-nab table tr td {
    font-size: 13px!important;
    padding: 9px 5px 10px 5px;
    position: relative;
    }
    
    .nav-home table tr th{
    background:$magenta !important;
    color:#fff !important;
    padding: 5px;
    h5 {
        font-size: 18px;
        margin: auto;
    }
    p {
        font-size: 14px;
        margin:5px auto;
        text-align:right;
    }
    
    }
    .nav-home table tr td.text-align-left {
    text-align:left!important;
    }
    .chubb-list-nab table tr td span {
    line-height:0;
    }
    .chubb-list-nab table tr td span.icon-triangleup:before {
    font-size:22px;
    color:green;
    top:4px;
    position:relative;
    }
    .chubb-list-nab table tr td span.icon-triangledown:before {
    font-size:22px;
    color:red;
    top:4px;
    position:relative;
    }
    .chubb-nab-bottom {
    padding:10px;
    background:$magenta;
    a {
        float:right;
        color:#fff;
        font-size:14px;
    }
    
    }
    .chubb-list-nab table, .chubb-nav-title table {
    width:100%;
    margin:auto;
    }
    .chubb-nav-title table tr td h5 {
    font-size:18px;
    margin:auto;
    padding:10px;
    }
    .chubb-nav-title table tr td p{
    font-size:12px;
    margin:auto;
    padding:10px 0px;
    }
    .chubb-nav-title table tr td  {
    padding:0px;
    }
    
    .chubb-login-home.is-login h4 {
    text-align: center;
    }
    
    
    .chubb-login-home.is-login h4 {
    font-size: 20px;
    word-break: break-word;
    height: 48px;
    overflow:hidden;
    }
    
    .chubb-login-home.is-login ul {
    padding: 0 0 0 20px;
    font-size: 14px;
    margin-bottom: 10px;
    }
    
    .chubb-login-home.is-login {
    font-size: 14px;
    }
    
    .pad-right-5 {
    padding-right: 5px;
    }
    .pad-left-5 {
    padding-left: 5px;
    }
    
    .thumbnail {
        width:200px;
        margin:auto;
        img {
            width:100%;
        }
    }
    

    
//Hero Slide show
.chubb-hero {
    width:100%;
    height:550px;
}
.chubb-hero {
    overflow: hidden;
    position: relative;
}
.chubb-hero.clickable {
    cursor: pointer;
}
.img-hero {
    width:100%;
    height:100%;

}
.img-hero img {
    height: 100%;
}
.bg-hero {
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:1;
}
.chubb-hero-content {
    top: 23%;
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: 0px 0px 0px 74px;
    width: auto;
}
.chubb-hero-content p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.carousel-wrap .leftRs {
    position:absolute !important;
    top:0% !important;
    height:100% !important;
    width:50px !important;
    border:none !important;
    background:transparent;
    i {
        color:transparent
    }
    
}
.carousel-wrap:hover .leftRs i {
    background:rgba(0,0,0,0.5);
    padding:5px 9px;
    border-radius:50%;
    color:#fff;

} 
.carousel-wrap .rightRs {
    position:absolute !important;
    top:0% !important;
    right:0;
    height:100% !important;
    width:50px !important;
    border:none !important;
    background:transparent;
    i {
        color:transparent
    }
}
.carousel-wrap:hover .rightRs i {
    background:rgba(0,0,0,0.5);
    padding:5px 9px;
    border-radius:50%;
    color:#fff;

}
.chubb-hero-content a {
    color:#fff;
}
.chubb-hero-content a span.icon-right{
    line-height:0px;
}
.chubb-hero-content a span.icon-right:before {
    position: relative;
    top:2px;
}

//Login 
.chubb-login-home {
    border:1px solid #ccc;
    padding:15px 10px;
    width:100%;
}
.chubb-login-home  h5 {
    text-align:center;
}
.chubb-login {
    
}
.chubb-login-bg {
    border:1px solid #ccc;
    border-radius:0px;
    padding-left:40px;
}

.icon-user:before {
    font-size:36px;
    color:#ccc;
    border-right:none;
}
.icon-user,.icon-password{
    position: absolute;
    top: 1px;
    z-index:1;
}

.icon-password:before {
    font-size:36px;
    color:#ccc;
}
.btn-login {
    width:100%;
    background:$violet;
    color:#fff;
    border-radius:0px;
}
.chubb-login-home a {
    margin:8px auto 0px auto;
    color:$dark-gray;
    text-decoration:none
}
input.ng-invalid { border: 1px solid red !important; }
input.ng-valid { border: 1px solid #46bb46 !important; }
input.ng-untouched {border: 1px solid #ccc !important; }
input:-webkit-autofill { background-color: transparent !important; }
.chubb-alert {
    font-size: 12px;
    -webkit-animation: 2s alertAnim forwards;
    animation: 2s alertAnim forwards;
    color: red;
    z-index: 0 !important;
    border-radius:0px;
}
.form-control:focus {
    z-index:0 !important;
}
.separator-login {
    height:22px;
}
.btn.disabled, .btn:disabled {
    background-color: gray;
}

// feature item
.chubb-box .icon-education:before {
    font-size: 130px;
    top: 34px;
    position: relative;
    line-height: 0;
    color:$magenta;
}
.chubb-item-download {
    height: 190px;
    width: 100%;
    background:$violet;
}
.chubb-box {
    width: 100%;
    height: 210px;
    padding: 19px;
    cursor: default;
}
.chubb-box h5 {
    font-family: 'TrebuchetMS-Bold',sans-serif;
    color:$dark-gray;
    text-align:center;
    padding:15px 0px 10px 0px;
}
.chubb-item-download {
    text-align:center;
}
.chubb-item-download h5 {
    color:#fff;
    text-align:center;
    padding:15px 0px 10px 0px;
    font-size:17px;
}
.chubb-item-download .icon-pdf:before {
    font-size: 130px;
    top: 50px;
    position: relative;
    line-height: 0;
    color:#fff;
    text-align:center;
}
.chubb-item-download .icon-claimform:before {
    font-size: 130px;
    top: 50px;
    position: relative;
    line-height: 0;
    color:#fff;
    text-align:center;
}
.chubb-box .icon-product:before {
    font-size: 130px;
    top: 34px;
    position: relative;
    line-height: 0;
    color:$magenta
}
.chubb-box .icon-hospital:before {
    font-size: 130px;
    top: 34px;
    position: relative;
    line-height: 0;
    color:$violet
}
.chubb-box .icon-education:before {
    font-size: 130px;
    top: 34px;
    position: relative;
    line-height: 0;
    color:$magenta
}
.chubb-box .icon-pdf:before {
    font-size: 130px;
    top: 34px;
    position: relative;
    line-height: 0;
    color:$violet
}
.chubb-box .icon-claimform:before {
    font-size: 110px;
    top: 34px;
    position: relative;
    line-height: 0;
    color:$violet;
    margin-bottom:30px;
}
.chubb-box p {
    color:$gray;
}
.chubb-box .icon-product,.chubb-box .icon-hospital, .chubb-box .icon-education, .chubb-box .icon-claimform{
    line-height: 5;
}
.chubb-box {
    text-align: center;
}
.chubb-box a {
    color:#9B9B9B;
    text-decoration:none;
    font-size:15px;
}
.chubb-box a span.icon-right{
    line-height:0px;
}
.chubb-box a span.icon-right:before {
    position: relative;
    top:2px;
}

