<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ekreasi-header-content-non-public">
                <div class="ekreasi-breadcrumb">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"><span class="icon-left"></span>Dashboard</a>
                  </div>
              <h1>Customer Corner</h1>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="ekreasi-header-content welcome-page float-right">
                  <h4>Welcome,<span class="color-violet"> Permata Putri </span></h4>
                  <ul>
                    <li>Last Login at Friday, February 09, 2018. 01:58pm </li>
                    <li>You Have <a [routerLink]="['/inbox']"><span class="circle-mail">3</span></a>Unread notification</li>
                  </ul>
              </div>
            </div>
        </div>
  </div>
  </div>
  <div class="inner-content-gray">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="ekreasi-content-general">
              <div class="headline-left">
                <div class="row">
                  <div  class="col-sm-12">
                    <h5 class="color-orange">Fund & Fact Sheet</h5>
                  </div>
                </div>
              </div>
              <div class="ekreasi-content-nonpublic">
                <div class="row">
                  <div class="col-lg-12">
                      <div class="table-orange">
                          <table class="table table-striped violet border-gray-botom-1px thead-center">
                            <thead>
                                <tr>
                                    <th>Fund Name</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tr>
                              <td>Rupiah Equity Fund</td>
                              <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Managed Fund</td>
                                <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Syariah Bond Fund</td>
                              <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Stable Fund</td>
                              <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Syariah Balanced Fund</td>
                              <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Syariah Equity Fund I</td>
                              <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Syariah Equity Fund II</td>
                              <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Syariah Bond Fund</td>
                                <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Syariah Bond Fund</td>
                                <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                            <tr>
                                <td>Rupiah Syariah Bond Fund</td>
                                <td> <a href="#" class="annual"><span class="icon-downloads"></span></a></td>
                            </tr>
                          </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="title-bottom-content">
                                    <p>Total  <span class="color-magenta">25</span> Fund & Fact Sheet</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pagination-magenta float-right">
                                <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                                </div>
                            </div>
                        </div>
                  </div>
                  
                </div>
              </div>
            </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>