<header-non-public></header-non-public>
<content>
  <div class="inner-content-gray min-height-nonpublic">
    <div class="side-menu-dashboard-vertical">
      <menu-dashboard-vertical></menu-dashboard-vertical>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal">
              <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>

            <div class="chubb-content-general">
              <div class="headline-left">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="color-orange">
                      {{'_fund_fact_sheet' | translate}}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="chubb-content-nonpublic">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="fund-fact-table table-orange">
                      <table class="table table-striped violet border-gray-botom-1px thead-center">
                        <thead>
                          <tr>
                            <th>{{'_fund_name' | translate}}</th>
                            <th>{{'_download' | translate}}</th>
                          </tr>
                        </thead>
                        <tr *ngIf="!loadingData">
                          <td colspan="9">{{'_loading_data' | translate}}</td>
                        </tr>
                        <tr *ngFor="let fundName of fundNameData">
                          <td>{{fundName}}</td>
                          <td> <a (click)="doDownloadFile(fundName)" class="annual"><span class="icon-downloads"></span></a></td>
                        </tr>
                      </table>
                    </div>
                    <!-- <div class="row">
                            <div class="col-lg-6">
                                <div class="title-bottom-content">
                                    <p>{{'_total_records' | translate}}  <span class="color-magenta">25</span> Fund & Fact Sheet</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pagination-magenta float-right">
                                <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                                </div>
                            </div>
                        </div> -->
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>