@import '~assets/sass/vars';
.inner-content-product{
    padding:80px 0px 80px 0px; 
}
.chubb-product-wrap {
    background:#fff;
    padding:30px;
}
.chubb-summary-product {
    width:60%;
    padding:0px 30px;
    border-left:4px solid $magenta;
    margin: 30px 0px 40px 0px;
}
.chubb-summary-product p {
    line-height:30px;
}

.chubb-detail-product h6 {
    font-family:'publico-roman',serif;
    color:$violet;
    border-bottom:2px solid $violet;
    padding-bottom:15px;
}
.chubb-detail-product table tr td {
    font-size:15px;
}
.bottom-content {
    padding:30px 0px 0px 0px;
}
.title-bottom-content p {
    margin:auto;
}
.btn-chubb-agent-search {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none !important;
    background: transparent;
}
.chubb-agent-search-bg {
    border-top: 1px solid #ccc;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 0px;
}
.chubb-list-awards table tr td span  {
    float:right;
}

.chubb-list-awards table tr td span.icon-right  {
    float:right;
    font-size:18px;
    color:#ccc;
}
.chubb-list-awards table tr {
    cursor: pointer;
}

// 
.header-detail-product {
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:20px 0px 15px 0px;
}
.btn-mail {
    background:$magenta;
    color:#fff;
    padding:8px 10px;
    border:none;
}
.btn-mail span.icon-mail:before {
    font-size: 30px;
    position: relative;
    top: 7px;
    line-height: 0;
}

.btn-brochure {
    background:$violet;
    color:#fff;
    padding:8px 10px;
    border:none;
}
.content-detail-product {
    margin:30px auto
}
.content-detail-product img {
    width:100%;
}
.content-detail-product p {
    margin:auto;
    padding:10px 0px;; 
}
.content-detail-product h5 {
    padding:10px 0px;
  
}
.content-detail-product h5.border-green {
    border-bottom:3px solid $green;
}
.content-detail-product h5.border-orange {
    border-bottom:3px solid $orange;
}
.content-detail-product ul li {
    margin-left:20px;
    margin-bottom:15px;
}
.content-detail-product ul {
    margin:20px 0px 0px 0px
}