<header-page-orange></header-page-orange>
<content>


  <div class="inner-content-gray">
      <div class="container container-content-white">
        <div class="row">
          <div class="col-lg-12">
              <div  >
                  <div class="chubb-header-content">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="chubb-image-portfolio">
                              <img src="assets/img/contoh-project1.jpg"  width="300">
                            </div>
                            <div class="chubb-image-portfolio">
                                <img src="assets/img/contoh-project2.jpg"  width="300">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="chubb-summary-portfolio">
                              <h2>Title Projects</h2>
                              <table>
                                <tr>
                                    <td>
                                      <b> Project </b>
                                    </td>
                                    <td width="50" style="text-align: center;">:</td>
                                    <td>
                                        <p>Nama Project  </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <b> Tahun </b>
                                    </td>
                                    <td width="50" style="text-align: center;">:</td>
                                    <td>
                                        <p>2018  </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <b> URL Link </b>
                                    </td>
                                    <td width="50" style="text-align: center;">:</td>
                                    <td>
                                        <p>http://google.com </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <b> Summary </b>
                                    </td>
                                    <td width="50" style="text-align: center;">:</td>
                                    <td>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus odio, egestas in dictum eu, aliquet nec ex. Aenean interdum mi nec lorem mollis efficitur. </p>
                                    </td>
                                </tr>
                              </table>
                               
                                
                              </div>
                        </div>
                    </div>
                   
                  </div>
                </div>
          </div>
        </div>
      </div>
  </div>
</content>
<app-footer></app-footer>