<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ekreasi-header-content-non-public">
                <div class="ekreasi-breadcrumb">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"><span class="icon-left"></span>Dashboard</a>
                  </div>
              <h1>Customer Corner</h1>
            </div>
          </div>
          <div class="col-lg-6">
                <div class="ekreasi-header-content welcome-page float-right">
                    <h4>Welcome,<span class="color-violet"> Permata Putri </span></h4>
                    <ul>
                      <li>Last Login at Friday, 08 Feb 2018. 01:58pm </li>
                      <li>You Have <a [routerLink]="['/inbox']"><span class="circle-mail">3</span></a>Unread notification</li>
                    </ul>
                </div>
              </div>
        </div>
  </div>
  </div>
  <div class="inner-content-gray">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="ekreasi-content-general">
              <div class="headline-left border-bottom-violet">
                <div class="row">
                  <div  class="col-sm-12">
                    <h5 class="color-violet">Personal Information</h5>
                  </div>
                </div>
              </div>
              <div class="ekreasi-content-nonpublic">
                <div class="row">
                  <div class="col-lg-12">
                    
                      <div class="row">
                        <div class="col-lg-4">
                           
                            <div class="title-personal">
                                <h5 class="color-violet">Identity</h5>
                            </div>
                            <div class="section-wrap">
                                <div class="form-group form-group-disabled">
                                    <label>Policy Holder Name</label>
                                    <div class="form-control-disabled"> Diana Rihana</div>
                                </div>
                                <div class="form-group form-group-disabled">
                                    <label>ID Type</label>
                                    <div class="form-control-disabled"> KTP</div>
                                </div>
                                <div class="form-group form-group-disabled">
                                    <label>ID Card Number </label>
                                    <div class="form-control-disabled"> 0299822009198</div>
                                </div>
                                <div class="form-group form-group-disabled">
                                    <label>Gender</label>
                                    <div class="form-control-disabled"> Female</div>
                                </div>
                                <div class="form-group form-group-disabled">
                                    <label>Birth Date</label>
                                    <div class="form-control-disabled">19 Dec 1987</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="title-personal margin-bottom-15">
                                <h5 class="color-violet">Address</h5>
                            </div>
                            <div class="form-group-disabled">
                                <label>Correspondence Address</label>
                                <div class="form-control-disabled"> Cluster Permata, <br> Blok A no 13<br>Jl. Anggrek No2 RT 1 RW 2, Setiabudi<br>Jakarta Selatan<br>51216</div>
                            </div>
                            <div class="form-group-disabled">
                                <label>Home Address </label>
                                <div class="form-control-disabled"> Cluster Permata, <br> Blok A no 13<br>Jl. Anggrek No2 RT 1 RW 2, Setiabudi<br>Jakarta Selatan<br>51216</div>
                            </div>
                            <div class="form-group-disabled">
                                <label>Office Address </label>
                                <div class="form-control-disabled"> Cluster Permata, <br> Blok A no 13<br>Jl. Anggrek No2 RT 1 RW 2, Setiabudi<br>Jakarta Selatan<br>51216</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="title-personal margin-bottom-15">
                                <h5 class="color-violet">Contact</h5>
                            </div>
                            <div class="form-group form-group-disabled">
                                <label>Mobile Phone Number </label>
                                <div class="form-control-disabled">082877272</div>
                            </div>
                            <div class="form-group form-group-disabled">
                                <label>Home Phone Number </label>
                                <div class="form-control-disabled">021 8847737</div>
                            </div>
                            <div class="form-group form-group-disabled">
                                <label>Office Phone Number </label>
                                <div class="form-control-disabled">021 63776636</div>
                            </div>
                            <div class="form-group form-group-disabled">
                                <label>Email </label>
                                <div class="form-control-disabled">diana.rihana@gmail.com</div>
                            </div>
                        </div>
                      </div>
                  </div>

              

                  
                </div>
              </div>
            </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>