<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ekreasi-header-content-non-public">
                <div class="ekreasi-breadcrumb">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"><span class="icon-left"></span>Dashboard</a>
                  </div>
              <h1>Customer Corner</h1>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ekreasi-header-content welcome-page float-right">
                <h4>Welcome,<span class="color-violet"> Permata Putri </span></h4>
                <ul>
                  <li>Last Login at Friday, February 09, 2018. 01:58pm </li>
                  <li>You Have <a [routerLink]="['/inbox']"><span class="circle-mail">3</span></a>Unread notification</li>
                </ul>
            </div>
          </div>
        </div>
  </div>
  </div>
  <div class="inner-content-gray">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="ekreasi-content-general">
              <div class="headline-left border-violet-bottom">
                <div class="row">
                  <div  class="col-sm-12">
                    <h5 class="color-violet">Proposal Detail</h5>
                  </div>
                </div>
              </div>
              <div class="ekreasi-content-nonpublic">
                  <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                        <div class="col-lg-4">
                            <div class=" section-wrap">
                                <div class="form-group form-group-disabled">
                                    <label>PPAJ Number</label>
                                    <div class="form-control-disabled"> 0988282888 </div>
                                </div>
                                
                                <div class="form-group form-group-disabled">
                                    <label>Main Life Assured </label>
                                    <div class="form-control-disabled">Oktaria Puspita</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            
                            <div class="section-wrap">
                                <div class="form-group form-group-disabled">
                                    <label>Product Name</label>
                                    <div class="form-control-disabled"> Asuransi Flexi Link </div>
                                </div>
                                <div class="form-group-disabled">
                                    <label>Total Premium</label>
                                    <div class="form-control-disabled"> Rp 10,000,000.00</div>
                                </div>
                                <div class="form-group-disabled">
                                    <label>Sum Assured</label>
                                    <div class="form-control-disabled"> Rp 150,000,000.00</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                            
                            <div class=" section-wrap">
                                <div class="form-group-disabled">
                                    <label>Payment Frequency</label>
                                    <div class="form-control-disabled"> Monthly</div>
                                </div>
                                <div class="form-group-disabled">
                                    <label>Agent Name</label>
                                    <div class="form-control-disabled">Yoana Nita</div>
                                </div>
                                <div class="form-group-disabled">
                                    <label>Agent Phone</label>
                                    <div class="form-control-disabled">082929278882</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                  </div>
                  <ngb-tabset class="ekreasi-primary-tab">
                      <ngb-tab>
                          <ng-template ngbTabTitle>Proposal Detail</ng-template>
                          <ng-template ngbTabContent>
                            <div class="background-white padding-15 section-wrap section-tab proposal-item-list box-shadow">
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="form-group form-group-disabled no-margin-bottom">
                                      <label>Policy Holder Name</label>
                                      <div class="form-control-disabled no-border-bottom"> Diana Rihana</div>
                                  </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-disabled no-margin-bottom">
                                        <label>Identity Type</label>
                                        <div class="form-control-disabled no-border-bottom">Identity Card (KTP)</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-disabled no-margin-bottom">
                                        <label>Identity Number </label>
                                        <div class="form-control-disabled no-border-bottom">0299822009198</div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="box-soft-highlight padding-15 section-wrap section-tab">
                                    <div class="row">
                                      <div class="col-lg-4">
                                        <div class="form-group form-group-disabled">
                                            <label>Email</label>
                                            <div class="form-control-disabled">diana.rihana@gmail.com</div>
                                        </div>

                                      </div>
                                      <div class="col-lg-4">
                                           <div class="form-group form-group-disabled">
                                                <label class="color-white" >Mobile Phone Number </label>
                                                <div class="form-control-disabled">082877272</div>
                                            </div>
                                      </div>
                                      <div class="col-lg-4">
                                          <!-- <div class="form-group form-group-disabled">
                                              <label>Identity Number </label>
                                              <div class="form-control-disabled">0299822009198</div>
                                          </div> -->
                                      </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group-disabled">
                                                    <label>Correspondence Address</label>
                                                    <div class="form-control-disabled"> Cluster Permata, <br> Blok A no 13<br>Jl. Anggrek No2 RT 1 RW 2, Setiabudi <br>Jakarta Selatan <br>51216</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group-disabled">
                                                    <label>Home Address</label>
                                                    <div class="form-control-disabled"> Cluster Permata, <br> Blok A no 13<br>Jl. Anggrek No2 RT 1 RW 2, Setiabudi <br>Jakarta Selatan <br>51216</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group-disabled">
                                                    <label>Office Address</label>
                                                    <div class="form-control-disabled"> Cluster Permata, <br> Blok A no 13<br>Jl. Anggrek No2 RT 1 RW 2, Setiabudi <br>Jakarta Selatan <br>51216</div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="background-white padding-15 section-wrap section-tab box-shadow">
                              <div class="row">
                                  <div class="col-lg-4">
                                        <div class="form-group-disabled">
                                            <label>Basic Premium </label>
                                            <div class="form-control-disabled">Rp 10,000,000.00</div>
                                        </div>
                                        <div class="form-group-disabled">
                                            <label>Regular Top up</label>
                                            <div class="form-control-disabled">Rp 500,000.00</div>
                                        </div>
                                    
                                  </div>
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-disabled">
                                            <label>Proposal Date </label>
                                            <div class="form-control-disabled">19 February 2018</div>
                                        </div>
                                        <div class="form-group form-group-disabled">
                                            <label>Proposal Receive Date</label>                            
                                            <div class="form-control-disabled">5 May  2018</div>
                                        </div>
                                    </div>
                                  <div class="col-lg-4">
                                        <div class="form-group form-group-disabled">
                                            <label>Payment Method</label>
                                            <div class="form-control-disabled"> Transfer</div>
                                        </div>
                                        <div class="form-group-disabled">
                                            <label>Currency</label>
                                            <div class="form-control-disabled"> IDR </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                          <ng-template ngbTabTitle>Life Assured  </ng-template>
                          <ng-template ngbTabContent>
                              <div class="background-white padding-15 section-wrap section-tab box-shadow">
                                <div class="fund-product-table tr-nohover">
                                        <table class="table table-striped thead-center">
                                            <thead>
                                            <tr>
                                                <th>
                                                Name
                                                </th>
                                                <th>
                                                Gender
                                                </th>
                                                <th>
                                                    Birth Date
                                                </th>
                                            </tr>
                                            </thead>

                                            <tr>
                                                <td>
                                                    Oktaria Puspita
                                                </td>
                                                <td>
                                                    Female
                                                </td>
                                                <td>
                                                    8 May 1992
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        Rianty Rukmana
                                                </td>
                                                <td>
                                                        Female
                                                </td>
                                                <td>
                                                        08/05/1995
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td>
                                                        Triana Riany
                                                    </td>
                                                    <td>
                                                            Female
                                                    </td>
                                                    <td>
                                                            8 May 1992
                                                    </td>
                                                    
                                                </tr>
                                        </table>
                                    </div>
                              </div>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                          <ng-template ngbTabTitle>Fund  </ng-template>
                          <ng-template ngbTabContent>
                              <div class="background-white padding-15 section-wrap section-tab box-shadow">
                                  <div class="row">
                                      <div class="col-lg-12">
                                        <div class="fund-table">
                                          <table class="table table-striped thead-center">
                                            <thead>
                                              <tr>
                                                <th>
                                                    Fun Code
                                                </th>
                                                <th>
                                                  Fund name 
                                                </th>
                                                <th>
                                                  Fund Allocation
                                                </th>
                                              </tr>
                                            </thead>

                                            <tr>
                                                <td>
                                                        AMMR
                                                </td>
                                                <td>
                                                        ekreasi Rupiah Money Market fund
                                                </td>
                                                <td>
                                                  60%
                                                </td>
                                              </tr>
                                              <tr>
                                               <td>
                                                    ASOR
                                                        </td>
                                                  <td>
                                                        ekreasi Rupiah Syariah Bond Fund
                                                  </td>
                                                  <td>
                                                    40%
                                                  </td>
                                              </tr>
                                          </table>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                          <ng-template ngbTabTitle>Product </ng-template>
                          <ng-template ngbTabContent>
                              <div class="background-white padding-15 section-tab box-shadow">
                                  <div class="header-product-info">
                                    <h5>Product</h5>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="fund-product-table">
                                            <table class="table table-striped thead-center">
                                              <thead>
                                                <tr>
                                                  <th>
                                                    Product Code
                                                  </th>
                                                  <th>
                                                    Product name 
                                                  </th>
                                                  <th>
                                                    Premi/Biaya
                                                  </th>
                                                  <th>
                                                    Sum Assured/Unit/Plan
                                                  </th>
                                                </tr>
                                              </thead>
  
                                              <tr>
                                                  <td>
                                                        IFLE003
                                                  </td>
                                                  <td>
                                                    Asuransi Flexi Link
                                                  </td>
                                                  <td class="text-align-right">
                                                    Rp 300,000.00
                                                  </td>
                                                  <td class="text-align-right">
                                                    Rp 150,000,000.00
                                                  </td>
                                              </tr>
                                            </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="background-white padding-15 section-tab box-shadow">
                                  <div class="header-product-info">
                                    <h5>Rider</h5>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="fund-rider-table">
                                               
                                                    <table class="table table-striped thead-center">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                            Rider Code
                                                            </th>
                                                            <th>
                                                            Rider name 
                                                            </th>
                                                            <th>
                                                                Life Assured Name
                                                            </th>
                                                            <th>
                                                            Premi/Biaya
                                                            </th>
                                                            <th>
                                                            Sum Assured/Unit/Plan
                                                            </th>
                                                        </tr>
                                                    </thead>
        
                                                    <tr>
                                                        <td>
                                                            IADD01 
                                                        </td>
                                                        <td>
                                                            Accidental Death and Disablement
                                                        </td>
                                                        <td>
                                                            Oktaria Puspita
                                                        </td>
                                                        <td class="text-align-right">
                                                            Rp 50,000.00
                                                        </td>
                                                        <td class="text-align-right">
                                                            Rp 300,000.00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            ICMED01
                                                        </td>
                                                        <td>
                                                            My Flexi Health
                                                        </td>
                                                        <td>
                                                            Oktaria Puspita
                                                        </td>
                                                        <td class="text-align-right">
                                                            Rp 60,000.00
                                                        </td>
                                                        <td class="text-align-right">
                                                                Copay 20% <br/>

                                                                Asia <br/>
                                                            Plan B - RP. 600.000
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                            <td>
                                                                IHCU01
                                                            </td>
                                                            <td>
                                                            Hospital Cash Unit
                                                            </td>
                                                            <td>
                                                                Oktaria Puspita
                                                            </td>
                                                            <td class="text-align-right">
                                                                Rp 50,000.00
                                                            </td>
                                                            <td class="text-align-right">
                                                                    10 unit
                                                            </td>
                                                        </tr>
                                                    </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>Beneficiary</ng-template>
                        <ng-template ngbTabContent>
                            <div class="row">
                              <div class="col-lg-6">
                                  <div class="tab-card box-shadow">
                                    <div class="card-table tr-no-hover">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Diana Rihana</th>
                                                </tr>
                                            </thead>
                                          
                                            <tr>
                                              <td>
                                                <div class="row">
                                                  <div class="col-lg-6">
                                                      <div class="color-dark-gray">Birth Date </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <div class="color-gray2"> 8 May 1992 </div>
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                                    <td>
                                                        <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="color-dark-gray">Gender </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="color-gray2">Female</div>
                                                        </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="color-dark-gray">Relationship </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="color-gray2">Daughter</div>
                                                    </div>
                                                    </div>
                                                </td>
                                            </tr>
                                          </table>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="tab-card box-shadow">
                                    <div class="card-table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Oktaria Puspita</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                              <td>
                                                <div class="row">
                                                  <div class="col-lg-6">
                                                      <div class="color-dark-gray">Birth Date </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <div class="color-gray2"> 8 May 1992 </div>
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                  <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="color-dark-gray">Gender </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="color-gray2">Female </div>
                                                    </div>
                                                  </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="color-dark-gray">Relationship </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="color-gray2">Daughter</div>
                                                    </div>
                                                    </div>
                                                </td>
                                            </tr>
                                          </table>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                          <ng-template ngbTabTitle>Proposal Tracking </ng-template>
                          <ng-template ngbTabContent>
                              <div class="background-white padding-15 section-wrap section-tab box-shadow">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="form-group form-group-disabled">
                                              <label>Proposal Tracking</label>
                                              <div class="form-control-disabled"> On Process</div>
                                          </div>
                                      </div>
                                     
                                  </div>
                              </div>
                          </ng-template>
                      </ngb-tab>

                      
                      <ngb-tab>
                          <ng-template ngbTabTitle>Servicing Agent  </ng-template>
                          <ng-template ngbTabContent>
                              <div class="background-white padding-15 section-wrap section-tab box-shadow">
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <div class="form-group form-group-disabled">
                                        <label>Agent Code</label>
                                        <div class="form-control-disabled"> 02838283929</div>
                                      </div>
                                      <div class="form-group form-group-disabled">
                                          <label>Agent Name</label>
                                          <div class="form-control-disabled">Yoana Nita</div>
                                      </div>
                                      
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-disabled">
                                          <label>Email</label>
                                          <div class="form-control-disabled"> yoananita@gmail.com</div>
                                        </div>
                                        <div class="form-group form-group-disabled">
                                            <label>Mobile Number</label>
                                            <div class="form-control-disabled">082929278882</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        
                                        <div class="form-group form-group-disabled">
                                                <label>Status Agent</label>
                                                <div class="form-control-disabled">Active</div>
                                        </div>
                                        <div class="form-group form-group-disabled">
                                                <label>Branch</label>
                                                <div class="form-control-disabled">Surabaya</div>
                                            </div>
                                    </div>
                                  </div>
                              </div>
                          </ng-template>
                      </ngb-tab>
                     
                      
                    </ngb-tabset>
              </div>
            </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>