<header-non-public></header-non-public>
<content>
<div  class="inner-content-dashboard">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ekreasi-header-content-non-public">
                <div class="ekreasi-breadcrumb">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"><span class="icon-left"></span>Dashboard</a>
                  </div>
              <h1>Customer Corner</h1>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="ekreasi-header-content welcome-page float-right">
                  <h4>Welcome,<span class="color-violet"> Permata Putri </span></h4>
                  <ul>
                    <li>Last Login at Friday, 9 Feb 2018. 01:58pm </li>
                    <li>You Have <a [routerLink]="['/inbox']"><span class="circle-mail">3</span></a>Unread notification</li>
                  </ul>
              </div>
            </div>
        </div>
  </div>
  </div>
  <div class="inner-content-gray">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="ekreasi-content-general">
              <div class="headline-left">
                  <div  class="col-sm-12 border-bottom-gray-3">
                    <h5 class="color-tosca">Claim Tracking</h5>
                  </div>
              </div>
              <div class="ekreasi-content-nonpublic">
                <ngb-tabset class="ekreasi-primary-tab tab-col-6 tab-col-2 tab-tracking">
                    <ngb-tab>
                      <ng-template ngbTabTitle>Cashless</ng-template>
                      <ng-template ngbTabContent>
                            <div class="background-white padding-20 box-shadow">
                              <div class="row">
                                  <div class="col-lg-3">
                                      <div  class="form-group">
                                          <label >Policy Number</label>
                                          <select  class="form-control no-border-radius">
                                                  <option>Select Policy Number</option>
                                                  <option>082992988</option>
                                                  <option>098813888</option>
                                                  <option>0988282890</option>
                                                  <option>0988235888</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-lg-3">
                                      <div  class="form-group">
                                          <label >Admission Date From</label>
                                          <div class="input-group">
                                              <input class="form-control" placeholder="{{valuedate | date: 'dd MM yyyy'}}" [(ngModel)]="modelStart" ngbDatepicker #s="ngbDatepicker">
                                              <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" (click)="s.toggle()" type="button">
                                                          <i class="far fa-calendar-alt"></i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-lg-3">
                                      <div  class="form-group">
                                          <label >To</label>
                                          <div class="input-group">
                                              <input class="form-control" placeholder="{{valuedate | date: 'dd MM yyyy'}}" [(ngModel)]="modelStart" ngbDatepicker #s="ngbDatepicker">
                                              <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" (click)="s.toggle()" type="button">
                                                          <i class="far fa-calendar-alt"></i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3">
                                        <button class="btn-magenta btn-search-fund">Search</button>
                                  </div>
                              </div>
                              <div class="table-tosca tr-hover-link">
                                <table class="table table-striped violet border-gray-botom-1px thead-center">
                                    <thead>
                                        <tr>
                                            <th>Claim Number</th>
                                            <th>Policy Number</th>
                                            <th>Life Assured</th>
                                            <th>Admission Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                    <tr>
                                      <td><a [routerLink]="['/cashless-tracking-detail']" >0988282888 </a></td>
                                      <td>023782888</td>
                                      <td>Anita Sinantya</td>
                                      <td>14 Mar 2018</td>
                                      <td>In Progress</td>
                                    </tr>
                                </table>
                              </div>
                              <div class="clearfix"></div>
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="title-bottom-content">
                                        <p>Total  <span class="color-magenta">25</span> Cashless Tracking</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="pagination-magenta float-right">
                                    <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                                  </div>
                                </div>
                              </div>
                          </div>
                          
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>Reimbursement</ng-template>
                      <ng-template ngbTabContent>
                          <div class="background-white padding-20 box-shadow">
                              <div class="row">
                                  <div class="col-lg-3">
                                      <div  class="form-group">
                                          <label >Policy Number</label>
                                          <select  class="form-control no-border-radius">
                                                  <option>Select Policy Number</option>
                                                  <option>082992988</option>
                                                  <option>098813888</option>
                                                  <option>0988282890</option>
                                                  <option>0988235888</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-lg-3">
                                      <div  class="form-group">
                                          <label >Submission Date From</label>
                                          <div class="input-group">
                                              <input class="form-control" placeholder="{{valuedate | date: 'dd-MM-yyyy'}}" [(ngModel)]="modelStart" ngbDatepicker #s="ngbDatepicker">
                                              <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" (click)="s.toggle()" type="button">
                                                          <i class="far fa-calendar-alt"></i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-lg-3">
                                      <div  class="form-group">
                                          <label >To</label>
                                          <div class="input-group">
                                              <input class="form-control" placeholder="{{valuedate | date: 'dd-MM-yyyy'}}" [(ngModel)]="modelStart" ngbDatepicker #s="ngbDatepicker">
                                              <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" (click)="s.toggle()" type="button">
                                                          <i class="far fa-calendar-alt"></i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3">
                                        <button class="btn-magenta btn-search-fund">Search</button>
                                  </div>
                              </div>
                              <div class="table-tosca tr-hover-link">
                                  <table class="table table-striped violet border-gray-botom-1px thead-center">
                                      <thead>
                                          <tr>
                                              <th>Claim Number</th>
                                              <th>Policy Number</th>
                                              <th>Life Assured</th>
                                              <th>Submission Date</th>
                                              <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                      <tr>
                                        <td><a [routerLink]="['/reimbursement-tracking-detail']" >0988282888 </a></td>
                                        <td>023782888</td>
                                        <td>Anita Sinantya</td>
                                        <td>14 Mar 2018</td>
                                        <td>In Progress</td>
                                      </tr>
                                  </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                  <div class="col-lg-6">
                                      <div class="title-bottom-content">
                                          <p>Total  <span class="color-magenta">25</span> Cashless Tracking</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="pagination-magenta float-right">
                                      <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </ng-template>
                    </ngb-tab>
                    
                </ngb-tabset>
              </div>
            </div>
                 
             
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>