@import '~assets/sass/vars';

//Top Header 
.chubb-header {
    width:100%;
}

.top-nav {
    width:100%;
    height:50px;
}

.top-nav .navbar {
    top: 0;
    left: 0;
    right: 0;
    background:$ekreasi-green;
    z-index: 7;

}
.nav-left-top {
    float:left
}
.nav-right-top {
    float:right
}
.nav-right-top ul li {
    list-style:none;
    float:left;
    padding:14px 10px 11px 10px;
    color:#fff;
    font-size:15px;
    letter-spacing: 0.8px;
}
.chubb-logo-header {
    padding:34px 0px;
    text-align:center;
    a {

         img {
            width:200px;
            height:auto;
        } 
    }
   
}

.nav-right-top ul li a {
    padding-bottom:14px;
}
.nav-right-top ul li a.active {
    background-image:url(../../../assets/img/icon-arrow.svg);
    background-repeat:no-repeat;
    background-position:bottom;
    background-size: 43px;
    border: none !important;
    padding-bottom: 17px;
}

.nav-right-top ul li a {
    color:#fff;
}
//Search item 
.chubb-search {
    margin:30px auto;
}
.chubb-search-bg { border: 0!important;
    background: rgba(0,0,0,0.15);
    border:none;
    border-radius:0px;
    color:#fff;
}

.chubb-search-bg::-moz-placeholder {
    color: #fff;
}
.chubb-search-bg:-ms-input-placeholder {
    color: #fff;
}
.chubb-search-bg::-webkit-input-placeholder {
    color: #fff;
}

.chubb-search-bg:focus {
    background: rgba(0,0,0,0.15);
    border:none;
    border-radius:0px;
}
.btn-search {
    background: rgba(0,0,0,0.15);
    border:none;
}
.btn-search .icon-search:before {
    font-size:30px;
    color:#fff;
}
.btn-menu-dropdown {
    background:transparent;
    border:none;
    color:#fff;
}
.dropdown-menu.show {
    background:rgba(0,0,0,0.6);
    color:#fff;
    border-top:3px solid #fff;
    border-radius:0px !important;
    margin-top: 11px;
    margin-left: -50%;
}
.nav-right-top ul li:hover {
    background:transparent;
    color:$magenta
}

.btn-language.border-lang {
    background-image:url(../../../assets/img/icon-arrow.svg);
    background-repeat:no-repeat;
    background-position:bottom;
    background-color: white;
    background-size:43px;
    border: none !important;
    padding-bottom: 16px;
}


.btn-language {
    border-bottom: 3px solid transparent!important;
}


.chubb-logo-header a img {
    width: 144px;
}