<header-page></header-page>
<content>
<div  class="inner-activation">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-header-content">
            <div class="ekreasi-breadcrumb">
              <a [routerLink]="['']" routerLinkActive="active"><span class="icon-left"></span>Home</a>
            </div>
            <h1>Activation</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-activation-wrap">
    <div class="bg-fullscren-black"></div>
    <div class="container">
        <div class="row">
          <div class="col-lg-7 col-centered">
            <div class="ekreasi-content-activation-wrap">
                <div class="container">
                  <div class="row ">
                    <div class="col-lg-6 col-centered">
                        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                            <div class="form-group">
                                <label >User ID</label>
                                <input aria-describedby="emailHelp" class="form-control no-border-radius" placeholder="User ID" type="text" disabled>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input  aria-describedby="emailHelp" class="form-control no-border-radius" id="exampleInputEmail1" placeholder="Email Address" type="email">
                            </div>
                            <div  class="form-group">
                                <label >Password</label>
                                <input class="form-control no-border-radius" placeholder="Your Password" type="password">
                            </div>
                            <div  class="form-group">
                                <label >Re-Type Password</label>
                                <input class="form-control no-border-radius" placeholder="Re-Type Your Password" type="password">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Security Question</label>
                                <select  class="form-control no-border-radius" id="exampleFormControlSelect1">
                                  <option>What is Your dream job ?</option>
                                  <option>What is Your dream job ?</option>
                                  <option>What is Your dream job ?</option>
                                  <option>What is Your dream job ?</option>
                                </select>
                              </div>
                            <div class="form-group">
                                <label >Answer</label>
                                <input class="form-control no-border-radius" placeholder="Your Answer" type="text">
                            </div>
                            <button class="btn btn-green" type="submit">Submit</button>
                          </form>
                    </div>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
  </div>
</content>
<app-footer></app-footer>