<header-page></header-page>
<content>
  <div class="inner-content-faq" *ngIf="!loadingData">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

        </div>
      </div>
    </div>
  </div>

  <div class="load-data" *ngIf="loadingData">

    <div class="inner-content-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="chubb-header-content">
              <div class="chubb-breadcrumb">
                <a [routerLink]="['']" routerLinkActive="active">
                  <span class="icon-left"></span>{{'_home' | translate}}</a>
              </div>
              <h1>{{'_title_office_network' | translate}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-content-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="chubb-section-networking">
              <div class="chubb-loop-networking" *ngFor="let data of dataOfficeNetwork">
                <div class="title-category border-bottom-violet">
                  <h5 class="color-violet">{{data.title}}</h5>
                </div>

                <div class="item-category-wrap" *ngFor="let office of data.data">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="title-address">
                        <h5>{{office.title}}</h5>
                        <div class="address" [innerHTML]="office.description | safeHtml"></div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="contact-call">
                        <ul>
                          <li>
                            <span class="icon-watch"></span>
                            {{office.office_hour}}
                          </li>
                          <li>
                            <span class="icon-callcenter"></span>
                            {{office.telephone}}
                          </li>
                          <li>
                            <span class="icon-mail"></span>
                            {{office.email}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="map-wrap">
                        <agm-map [latitude]="office.map_lat" [longitude]="office.map_long" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

                          <agm-marker [latitude]="office.map_lat" [longitude]="office.map_long" [label]="label">

                          </agm-marker>

                        </agm-map>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="container">
                    <div class="row">
                      <div class="col-lg-6 no-padding">
                        <div class="title-bottom-content">
                          <p>Page <span class="color-magenta">1</span> from <span class="color-magenta">5</span> Office Networking</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="pagination-magenta float-right">
                              <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                          </div>
                      </div>
                    </div>
                    </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>