<header-page></header-page>
<content>
  <div  class="inner-content-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-header-content">
            <div class="ekreasi-breadcrumb">
              <a [routerLink]="['']" routerLinkActive="active"><span class="icon-left"></span>Beranda</a>
            </div>
            <h1>{{data.title}}</h1>
            <div class="ekreasi-summary-about">
              <p>{{data.summary}}</p>
            </div>
          </div>
          <div class="ekreasi-image-about">
            <img [src]="data.image">
          </div>
          <div class="ekreasi-secondary-paragraph" [innerHTML]="data.description">
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>



