@media (max-width: 767px) {
    .chubb-primary-tab .tab-content {
        padding: 0px;
    }
    .padding-30 {
        padding: 30px 10px;
    }
    div.highcharts-container {
        margin: 0px!important;
    }

    .no-padding-mobile {
        padding: 0px;
    }
}