<header-non-public></header-non-public>
<content>
  <div class="inner-content-gray min-height-nonpublic">
    <div class="side-menu-dashboard-vertical">
      <menu-dashboard-vertical></menu-dashboard-vertical>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal">
              <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>

            <div class="chubb-content-general">
              <div class="headline-left border-bottom-tosca">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="color-tosca">
                      <a (click)="backClicked()">
                        <i class="fa fa-arrow-left"></i>
                      </a>
                      {{'_cashless_tracking_detail' | translate}}</h5>
                  </div>
                </div>
              </div>
              <div class="chubb-content-nonpublic">
                <div class="row">
                  <div class="col-lg-12">

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="section-wrap-claim">
                          <div class="form-group form-group-disabled">
                            <label>{{'_claim_id' | translate}}</label>
                            <div class="form-control-disabled"> {{data.claim_id}}</div>
                          </div>
                          <div class="form-group form-group-disabled">
                            <label>{{'_policy_number' | translate}}</label>
                            <div class="form-control-disabled">{{data.policy_no}}</div>
                          </div>
                          <div class="form-group form-group-disabled">
                            <label>{{'_life_assured' | translate}}</label>
                            <div class="form-control-disabled">{{data.member_name}}</div>
                          </div>
                          <div class="form-group-disabled">
                            <label>{{'_paid_amount' | translate}}</label>
                            <div class="form-control-disabled">{{data.cover | currency:'Rp '}}</div>
                          </div>
                          <div class="form-group-disabled">
                            <label>{{'_admission_date' | translate}}</label>
                            <div class="form-control-disabled">{{data.admission_date | date: 'dd MMM yyyy'}}</div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="section-wrap-claim">
                          <div class="form-group-disabled">
                            <label>{{'_discharge_date' | translate}}</label>
                            <div class="form-control-disabled">{{data.discharge_date | date: 'dd MMM yyyy'}}</div>
                          </div>
                          <div class="form-group form-group-disabled">
                            <label>{{'_hospital' | translate}}</label>
                            <div class="form-control-disabled">{{data.provider_name}}</div>
                          </div>
                          <div class="form-group form-group-disabled">
                            <label>{{'_status' | translate}}</label>
                            <div class="form-control-disabled">{{data.claim_status}}</div>
                          </div>
                          <div class="form-group form-group-disabled">
                            <label>{{'_final_diagnose' | translate}}</label>
                            <div class="form-control-disabled">{{data.final_diagnose}}</div>
                          </div>

                          <div class="form-group form-group-disabled">
                            <label>{{'_type_rider' | translate}}</label>
                            <div class="form-control-disabled">{{data.type}}</div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>