<header-non-public></header-non-public>
<content>
  <div class="inner-content-gray min-height-nonpublic">
      <div class="side-menu-dashboard-vertical"> 
          <menu-dashboard-vertical></menu-dashboard-vertical>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal"> 
                <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
              
            <div class="chubb-content-general">
              <div class="headline-left border-bottom-tosca">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="color-tosca">
                      <a (click)="backClicked()">
                        <i class="fa fa-arrow-left"></i>
                      </a>
                      {{'_history_detail' | translate}}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="chubb-content-nonpublic">
                <div class="row">
                  <div class="col-lg-12">
                    
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="section-wrap">
                              <div class="form-group form-group-disabled">
                                  <label>{{'_claim_number' | translate}}</label>
                                  <div class="form-control-disabled">{{historyDetailData.claimNumber}}</div>
                              </div>
                              <div class="form-group form-group-disabled">
                                <label>{{'_type' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.typeRider}}</div>
                              </div>
                              <div class="form-group form-group-disabled">
                                <label>{{'_status' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.claimStatus}}</div>
                              </div>
                              <div class="form-group form-group-disabled">
                                  <label>{{'_policy_number' | translate}}</label>
                                  <div class="form-control-disabled">{{historyDetailData.policyNo}}</div>
                              </div>
                              <div class="form-group form-group-disabled">
                                <label>{{'_policy_holder_name' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.policyHolder}}</div>
                              </div>
                              <div class="form-group form-group-disabled">
                                  <label>{{'_life_assured' | translate}}</label>
                                  <div class="form-control-disabled">{{historyDetailData.lifeAssured}}</div>
                              </div>
                              <div class="form-group-disabled">
                                <label>{{'_event_date' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.admissionDate}} - {{historyDetailData.disschargedDate}}</div>
                              </div>
                              <div class="form-group-disabled">
                                <label>{{'_paid_date' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.paidDate}}</div>
                              </div>
                              
                              <!-- <div class="form-group-disabled">
                                <label>{{'_discharge_date' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.disschargedDate}}</div>
                              </div> -->
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="section-wrap">
                            <!-- <div class="form-group form-group-disabled">
                                <label>{{'_type' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.typeRider}}</div>
                            </div> -->
                            <div class="form-group form-group-disabled">
                                <label>{{'_hospital' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.hospitalName}}</div>
                            </div>
                            <div class="form-group form-group-disabled">
                              <label>{{'_diagnose' | translate}}</label>
                              <div class="form-control-disabled">{{historyDetailData.diagnosis}}</div>
                            </div>
                            <div class="form-group form-group-disabled">
                              <label>{{'_submitted_amount' | translate}}</label>
                              <div class="form-control-disabled">{{historyDetailData.amountSubmit | currency:'Rp '}}</div>
                            </div>
                            <div class="form-group form-group-disabled">
                                <label>{{'_paid_amount' | translate}}</label>
                                <div class="form-control-disabled">{{historyDetailData.amountPaid | currency:'Rp '}}</div>
                            </div>
                            <div class="form-group form-group-disabled">
                              <label>{{'_rejected_amount' | translate}}</label>
                              <div class="form-control-disabled">{{historyDetailData.amountReject | currency:'Rp '}}</div>
                            </div>
                            <!-- <div class="form-group form-group-disabled">
                              <label>{{'_status' | translate}}</label>
                              <div class="form-control-disabled">{{historyDetailData.claimStatus}}</div>
                            </div> -->
                            <div class="form-group form-group-disabled">
                              <label>{{'_remarks' | translate}}</label>
                              <div class="form-control-disabled">{{historyDetailData.remarks}}</div>
                            </div>
                            <div class="form-group form-group-disabled">
                              <label>{{'_document_name' | translate}}</label>
                              <div class="form-control-disabled" [innerHTML]="historyDetailData.documentName"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>