@import '~assets/sass/vars';




.chubb-content-nonpublic {
    margin:0px auto 0px auto;
}
.form-disabled:disabled {
    background:#fff;
    border-bottom:1px solid #ccc;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius:0px;
    padding:8px 0px;
}
.form-group-disabled label {
    margin:auto;
}