<header-page-green></header-page-green>
<content>
  <div  class="inner-content-education">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-header-content-education">
            <div class="ekreasi-breadcrumb">
              <a [routerLink]="['']" routerLinkActive="active"><span class="icon-left"></span>Home</a>
            </div>
            <h1>Education Center</h1>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-content-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a [routerLink]="['/faq']"  class="ekreasi-item-education-thumb green">
            <h5>FAQ</h5>
            <img src="./assets/img/icon-faq.svg">
            <p>Selengkapnya</p>
          </a>
        </div>
        <div class="col-lg-6">
            <a [routerLink]="['/tips-trick']"  class="ekreasi-item-education-thumb violet">
                <h5>Tips & Trick</h5>
              <img src="./assets/img/icon-tips.svg">
              <p>Selengkapnya</p>
            </a>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>