<header-non-public></header-non-public>
<content>
  <div class="inner-content-gray min-height-nonpublic">
    <div class="side-menu-dashboard-vertical">
      <menu-dashboard-vertical></menu-dashboard-vertical>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal">
              <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>

            <div class="chubb-content-general cp-content">
              <div class="headline-left">
                <div class="col-sm-12 change-password">
                  <h5 class="color-violet">{{'_change_password' | translate}}</h5>
                </div>
              </div>
              <div class="chubb-content-nonpublic">

                <div class="row">
                  <div class="col-md-8 col-lg-5 col-centered  min-height-500">
                    <form novalidate (ngSubmit)="onInternalSubmit(internalForm)" #internalForm="ngForm" name="reg">
                      <div class="form-group wrap-change-password">
                        <label>{{'_current_password' | translate}}</label>
                        <input autocomplete="off" [(ngModel)]="changePassword.currentPassword" #currentPassword="ngModel" name="currentPassword"
                          required type="password" class="form-control no-border-radius" placeholder="{{'_current_password' | translate}}">

                        <div class="form-control-feedback chubb-alert" *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)">
                          <p *ngIf="currentPassword.errors.required">{{'_password_is_required' | translate}}</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>{{'_new_password' | translate}}</label>
                        <input autocomplete="off" [(ngModel)]="changePassword.newPassword" #newPassword="ngModel" name="newPassword" required type="password"
                          class="form-control no-border-radius" placeholder="{{'_new_password' | translate}}" [pattern]="passwordPattern">
                        <ng2-password-strength-bar [passwordToCheck]="changePassword.newPassword" [barLabel]="barLabel" [barColors]="myColors">
                        </ng2-password-strength-bar>

                        <div class="form-control-feedback chubb-alert" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                          <p *ngIf="newPassword.errors.required">{{'_new_password_is_required' | translate}}</p>
                          <p *ngIf="newPassword.errors.pattern">{{'_password_regexp' | translate}}</p>
                        </div>

                        <div class="form-control-feedback chubb-alert">
                          <p>- Minimal terdiri dari: 8 karakter</p>
                          <p>- Harus mengandung: huruf besar, huruf kecil, dan angka</p>
                          <p>- Mengandung: karakter khusus (misal: .,!#$%^&*)</p>
                          <p>- Jangan gunakan: tanggal lahir, email, atau nama</p>
                          <p>- Jangan gunakan: password yang sudah digunakan sebelumnya</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>{{'_retype_new_password' | translate}}</label>
                        <input autocomplete="off" [(ngModel)]="changePassword.retypePassword" #retypePassword="ngModel" name="retypePassword" required
                          type="password" class="form-control no-border-radius" placeholder="{{'_retype_new_password' | translate}}"
                          validateEqual="newPassword">

                        <div class="form-control-feedback chubb-alert" *ngIf="retypePassword.errors && (retypePassword.dirty || retypePassword.touched)">
                          <p *ngIf="retypePassword.errors.required">{{'_retype_password_is_required' | translate}}</p>
                          <p *ngIf="!retypePassword.valid || !(retypePassword.pristine && !f.submitted)">{{'_retype_password_doesnt_match' | translate}}</p>
                        </div>
                      </div>

                      <div class="form-group text-center">
                        <re-captcha #captchaRef="reCaptcha" class="recaptcha" width="100%" name="captcha" [siteKey]="googleRecaptchaKey" (resolved)="resolved($event)"></re-captcha>
                        <input required autocomplete="off" [(ngModel)]="changePassword.captcha" #captcha="ngModel" type="hidden" name="captcha" placeholder="{{'_captcha' | translate}}">
                      </div>

                      <div class="separator-login"></div>

                      <button class="btn btn-magenta" type="submit" [disabled]="!internalForm.form.valid || loadingButton"> {{'_reset_password' | translate}}</button>

                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>

<swal #successChangePassword title="Success" text="{{'_change_password_success' | translate}}" type="success">
</swal>

<swal #errorChangePassword title="{{'_oops' | translate}}" text="{{errorMessage}}" type="error">
</swal>

<app-footer></app-footer>