<header-page-red></header-page-red>
<content>

  <div class="load-data" *ngIf="loadingData">
      <!-- <div  class="inner-content-white no-padding">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 title-about">
                  <h1>Contact Us</h1>
              </div>
            </div>
          </div>
        </div> -->
    <div class="inner-content-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="chubb-contact-wrap">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="chubb-contact-title">
                      <h4>{{'_contact_form' | translate}}</h4>
                    </div>
                    <div class="chubb-contact-form">
                      <form novalidate (ngSubmit)="onInternalSubmit(internalForm)" #internalForm="ngForm" name="reg">
                        <div class="form-group">
                          <label>{{'_name' | translate}}</label>
                          <input required autocomplete="off" [(ngModel)]="contactForm.name" #name="ngModel" [(ngModel)]="contactForm.name" name="name"
                            required type="text" class="form-control no-border-radius" aria-describedby="emailHelp" placeholder="{{'_name' | translate}}">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">{{'_email_address' | translate}}</label>
                          <input autocomplete="new-password" [(ngModel)]="contactForm.email" #email="ngModel" name="email" class="form-control no-border-radius"
                            id="exampleInputEmail1" placeholder="{{'_email_address' | translate}}" type="email" [email]="true"
                            required>
                        </div>
                        <div class="form-group">
                          <label>{{'_mobile_phone' | translate}}</label>
                          <input required autocomplete="off" [(ngModel)]="contactForm.phone" #phone="ngModel" type="tel" pattern="[0-9+]+" name="phone" class="form-control no-border-radius"
                            placeholder="ex : 08272772772">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">{{'_category' | translate}}</label>
                          <select required autocomplete="off" [(ngModel)]="contactForm.category" #category="ngModel" name="category" class="form-control no-border-radius"
                            id="exampleFormControlSelect1">
                            <option [value]="" value="" disabled="disabled">{{'_select_one' | translate}}</option>
                            <option *ngFor="let category of data.category">{{category.title}}</option>
                          </select>
                        </div>
                        <div class="form-group" *ngIf="contactForm.category.toLowerCase().indexOf('prod') !=-1">
                          <label for="exampleFormControlSelect1">{{'_nearby_locations' | translate}}</label>
                          <select required autocomplete="off" [(ngModel)]="contactForm.location" #location="ngModel" name="location" class="form-control no-border-radius"
                            id="exampleFormControlSelect1">
                            <option [value]="" value="" disabled="disabled">{{'_select_one' | translate}}</option>
                            <option *ngFor="let location of contactLocation">{{location}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>{{'_subject' | translate}}</label>
                          <input required autocomplete="off" [(ngModel)]="contactForm.subject" #subject="ngModel" type="text" name="subject" class="form-control no-border-radius"
                            placeholder="{{'_subject' | translate}}">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">{{'_your_message' | translate}}</label>
                          <textarea required autocomplete="off" [(ngModel)]="contactForm.message" #message="ngModel" name="message" class="form-control no-border-radius"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                          <re-captcha #captchaRef="reCaptcha" class="recaptcha" width="100%" name="captcha" [siteKey]="googleRecaptchaKey" (resolved)="resolved($event)"></re-captcha>
                          <input required autocomplete="off" [(ngModel)]="contactForm.captcha" #captcha="ngModel" type="hidden" name="captcha" placeholder="{{'_captcha' | translate}}">
                        </div>
                        <button type="submit" class="btn btn-submit red" [disabled]="!internalForm.form.valid || loadingButton">Submit</button>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="chubb-contact-title">
                      <h4>{{'_customer_service_centre' | translate}}</h4>
                    </div>
                    <div class="chubb-customer-service">
                      <!-- <div class="chubb-description" [innerHTML]="data.description | safeHtml"></div> -->
                      <div class="chubb-description">
                          <p>PT Integrasi Media Kreasi <br>
                            Wisma Staco Lantai 5 Unit B<br>
                            Jl. Casablanca Kav. 18<br>
                            Jakarta 12870
                          </p>
                      </div>
                      <div class="contact-call">
                        <ul>
                          <li>
                            <a href="#">
                              <span class="icon-footer"><img src="./assets/img/icon-workday.svg"> </span>
                              {{data.officeHour}}
                            </a>
                          </li>
                          <li>
                            <a href="tel:{{data.telephone}}">
                                <span class="icon-footer"><img src="./assets/img/icon-call.svg"> </span>
                              <!-- {{data.telephone}} -->
                              <p>+62 21 2854 2025</p>
                            </a>
                          </li>
                          <li>
                            <a href="tel:{{data.email}}">
                                <span class="icon-footer"><img src="./assets/img/icon-email.svg"> </span>
                              <!-- {{data.email}} -->
                              support@ekreasi.com
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="map-wrap">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

                          <agm-marker [latitude]="lat" [longitude]="lng" [label]="label">

                          </agm-marker>

                        </agm-map>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>

<swal #swal title="{{swalData.title}}" text="{{swalData.message}}" type="{{swalData.type}}">
</swal>

<app-footer></app-footer>