<header-non-public></header-non-public>
<content>
  <div class="inner-content-gray min-height-nonpublic">
    <div class="side-menu-dashboard-vertical">
      <menu-dashboard-vertical></menu-dashboard-vertical>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-content-dashboard-wrap">
            <div class="side-menu-dashboard-horizontal">
              <menu-dashboard-horizontal></menu-dashboard-horizontal>
            </div>
            <div class="chubb-content-general">
              <div class="headline-left border-bottom-gray">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="color-orange">
                      {{'_performance' | translate}}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="chubb-content-nonpublic">
                <div class="performance-wrap">
                  <div class="row">
                    <div class="col-lg-12">
                      <ngb-tabset class="chubb-primary-tab tab-col-6 tab-col-2">
                        <ngb-tab>
                          <ng-template ngbTabTitle>{{'_monthly' | translate}}</ng-template>
                          <ng-template ngbTabContent>
                            <performance-fund-monthly-1></performance-fund-monthly-1>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                          <ng-template ngbTabTitle>{{'_yearly' | translate}}</ng-template>
                          <ng-template ngbTabContent>
                            <perfomance-fund-yearly></perfomance-fund-yearly>
                          </ng-template>
                        </ngb-tab>

                      </ngb-tabset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>