@import '~assets/sass/vars';
.inner-content-faq{
    padding:80px 0px 80px 0px; 
}
.ekreasi-faq-wrap {
    background:#fff;
    padding:30px;
}
.tab-agent {

}
.ekreasi-summary-faq {
    width:60%;
    padding:0px 30px;
    border-left:4px solid $magenta;
    margin: 30px 0px 40px 0px;
}
.ekreasi-summary-faq p {
    line-height:30px;
}

.ekreasi-detail-faq h6 {
    font-family:'publico-roman',serif;
    color:$violet;
    border-bottom:2px solid $violet;
    padding-bottom:15px;
}
.ekreasi-detail-faq table tr td {
    font-size:15px;
}
.bottom-content {
    padding:30px 0px 0px 0px;
}
.title-bottom-content p {
    margin:auto;
}
.btn-ekreasi-agent-search {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none !important;
    background: transparent;
}
.ekreasi-agent-search-bg {
    border-top: 1px solid #ccc;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 0px;
}
.ekreasi-list-awards table tr td span  {
    float:right;
}

.ekreasi-list-awards table tr td span.icon-right  {
    float:right;
    font-size:18px;
    color:#ccc;
}
.ekreasi-list-awards table tr {
    cursor: pointer;
}

.ekreasi-detail-agent p, {
    margin-left:40px;
}
.ekreasi-detail-agent ul li {
    margin-left:50px;
}