@import '~assets/sass/vars';
    .inner-content-product{
        padding:80px 0px 0px 0px; 
    }
    .ekreasi-summary-product {
        width:70%;
        padding:0px 30px;
        border-left:4px solid $orange;
        margin: 30px 0px 40px 0px;
    }
    .ekreasi-summary-product p {
        line-height:30px;
    }
    .ekreasi-item-product-thumb {
        background:#fff;
        width:100%;
        height:300px;
        display:block;
        padding:40px 30px;
        text-align:center;
        margin-bottom:30px;
        
    }
    .ekreasi-item-product-thumb img {
        height:150px;
    }
    .ekreasi-item-product-thumb.magenta {
        border-bottom:4px solid $magenta;
    }
    .ekreasi-item-product-thumb.green {
        border-bottom:4px solid $green;
    }
    .ekreasi-item-product-thumb.violet {
        border-bottom:4px solid $violet;
    }
    .ekreasi-item-product-thumb h5 {
        color:$dark-gray;
        margin:auto;
        padding:30px 0px 0px 0px;
    }