<header-page-red></header-page-red>
<content>
  <div  class="inner-content-product">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-header-content">
            <div class="ekreasi-breadcrumb">
              <a [routerLink]="['']" routerLinkActive="active"><span class="icon-left"></span>Home</a>
            </div>
            <h1>{{ productData.title }}</h1>
            <div class="ekreasi-summary-product">
              <p>{{ productData.summary }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-content-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" *ngFor="let product of productData.products">
          <a [routerLink]="['/product/', product.id]" routerLinkActive="active" class="ekreasi-item-product-thumb {{product.color}}">
            <img src="./assets/img/{{product.icon}}">
            <h5> {{ product.title }} </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>