@import '~assets/sass/vars';


//Navigation 
.slide-container {
    padding-top:50px;
    position: relative;
}

.padcontent{
    padding: 0px 15px 60px;
}

.head-first{
    padding-top: 100px;
    padding-bottom: 60px;
    height: 100%;
    background-color: $ekreasi-white;
}
.head-first .head-first-image{
    // position: absolute;
    // right: 50%;
    float:right;
}
.head-first-image-left{
    float:left;
}
.head-first .head-first-image img,
.head-first .head-first-image-left img{
    width:auto;
    height:315px;
}
.head-first .head-first-content{
    margin-top: 50px;
    width: 80%;
    // float: right;
    // margin-left: 50%;
    // padding-left: 80px;
}
.head-first .head-first-right{
    text-align: right;
    float: right;
}
.head-first .head-first-content .simbol-hp{
    color: #0081C9;
}
.head-first .head-first-content .simbol-web{
    color: #61269E;
}
.head-first .head-first-content .simbol-support{
    color: #8ECA4D;
}
.head-first .head-first-content .fa-stack{
    font-size: 1em; 
}
.head-first .head-first-content  i{
    vertical-align: middle; 
}
.head-first .head-first-content p{
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 35px;
}
.head-first .head-first-content h1{
    font-size: 24px;
    margin-top: 10px;
}
.head-first .head-first-content a.btn{
    color: #fff;
    background-color: #0071BC;
}

.head-about{
    text-align: center;
    margin-bottom: 1.6rem;
}
.head-about .service{
    padding-top:50px;
}
.head-about h1{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: -.035em;
}
.head-about p{
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
}

.bg-utama{  
    background-color: #f3f2f0;
    background-image: linear-gradient(#fff,#f3f2f0);
}

@media only screen and (min-width : 1200px) {
}

@media (min-width:991px) and  (max-width:1200px) { 
}

@media (min-width:768px) and  (max-width:991px) { 
    .head-first{
        padding-bottom:0px;
        .head-first-image, .head-first-image-left{
            img{
                height: auto;
            }
        }
        .head-first-content, .head-first-content{
            margin: 0 auto;
            width: 90%;
            float: none;
        }
    }
    .head-about p{
        width: 90%;
    }
}

@media only screen and (max-width : 768px) {
    .head-first{
        text-align: center;
        padding-bottom:0px;
        .head-first-image, .head-first-image-left{
            float:none;
            img{
                height: auto;
            }
        }
        .head-first-content, .head-first-content{
            margin: 0 auto;
            width: 90%;
            float: none;
            text-align: center;
        }
    }
    .head-about p{
        width: 90%;
    }   
}