@import '~assets/sass/vars';


    //Header Content 
      
        .chubb-summary-about {
            width:100%;
            padding:0px 30px;
            border-left:3px solid $green;
            margin: 30px 0px 40px 0px;
        }
        .chubb-summary-about p {
            line-height:40px;
        }
        .chubb-image-about img {
            width: 400px !important;
            margin: auto;
        }
        .chubb-secondary-paragraph {
            width:100%;
            float:right;
            padding:40px 0px;
        }
        .chubb-secondary-paragraph p {
            line-height:40px;
        }.chubb-header-content {
            background: #fff;
            padding:30px;
            margin:auto;
        }

        .container-content-white {
            background:#fff;
            padding: 30px;
        }
        .chubb-image-about {
            margin:auto;
            text-align:center; 
            img {
                width:400px !important;
                margin:auto;
            }
        } 
        .chubb-header-content h1 {
            text-align:center;
            color:$dark-gray;
            font-family: 'TrebuchetMS-Bold',sans-serif;
        }
        .title-about {
            padding:20px 0px 40px 0px;
            text-align:center;
            h1 {
                text-align:center;
                color:$dark-gray;
                font-family: 'TrebuchetMS-Bold',sans-serif; 
            }
        }