@import '~assets/sass/vars';
.navbar-blue{
    border-top:5px solid $ekreasi-blue;
}
//Top Header 
.chubb-header {
    width:100%;
}
.top-nav {
    width:100%;
    height:50px;
}
.top-nav .navbar {
    top: 0;
    left: 0;
    right: 0;
    background:$ekreasi-white;
    z-index: 7;
}
.nav-left-top {
    float:left
}
.nav-right-top {
    float:right
}
.nav-right-top ul li,
.nav-left-top ul li {
    list-style:none;
    float:left;
    padding:30px 10px;
    color:$dark-gray;
    font-size:15px;
    letter-spacing: 0.8px;
    font-weight: 600; 
}
.chubb-logo-header {
    padding:15px 0px;
}

.nav-right-top ul li a,
.nav-left-top ul li a {
    padding: 0px 10px 14px;
    color:$dark-gray;
    font-weight: 600; 
}
.nav-right-top button,
.nav-left-top button{
    color:$dark-gray;
    font-weight: 600;    
}
.nav-right-top ul li a:hover,
.nav-left-top ul li a:hover,
.nav-right-top button:focus,
.nav-left-top button:focus {
    color: $ekreasi-blue;
    font-weight: 600;
}
.nav-right-top ul li a.active,
.nav-left-top ul li a.active {
    color: $ekreasi-blue;
    border: none !important;
    padding: 34px 10px;
}

//translate
.translate {
    float:right
}
.translate ul li {
    list-style:none;
    float:left;
    padding:30px 10px;
    color:$dark-gray;
    font-size:15px;
    letter-spacing: 0.8px;
    font-weight: 600; 
}
.translate ul li a {
    color:$dark-gray;
    font-weight: 600; 
}
.translate ul li a.active {
    background: $ekreasi-blue;
    border: none !important;
    padding: 5px;
    border-radius: 5px;
    color: $ekreasi-white;
}

//Search item 
.chubb-search {
    margin:30px auto;
}
.chubb-search-bg { border: 0!important;
    background: rgba(0,0,0,0.15);
    border:none;
    border-radius:0px;
    color:$ekreasi-white;
}

.chubb-search-bg::-moz-placeholder {
    color: $ekreasi-white;
}
.chubb-search-bg:-ms-input-placeholder {
    color: $ekreasi-white;
}
.chubb-search-bg::-webkit-input-placeholder {
    color: $ekreasi-white;
}

.chubb-search-bg:focus {
    background: rgba(0,0,0,0.15);
    border:none;
    border-radius:0px;
}
.btn-search {
    background: rgba(0,0,0,0.15);
    border:none;
}
.btn-search .icon-search:before {
    font-size:30px;
    color:$ekreasi-white;
}

//dropdown
.btn-menu-dropdown {
    background:transparent;
    border:none;
    color:$dark-gray;
}
.dropdown-menu.show {
    background: $ekreasi-blue;
    color:$ekreasi-white !important;
    border:none;
    margin-top: 11px;
}
.dropdown-menu{
    padding:0px;
}
.btn-drop ul li.dropdown-item{
    padding: 20px 10px;
}
.btn-drop ul li.dropdown-item a{
    color: $ekreasi-white;
}
.btn-drop ul li:hover {
    background:$ekreasi-dark-blue;
}
.btn-drop ul li:first-child:hover{
    border-radius:5px 5px 0px 0px;
}
.btn-drop ul li:last-child:hover{
    border-radius:0px 0px 5px 5px;
}
.btn-language.border-lang {
    background-image:url(../../../assets/img/icon-arrow.svg);
    background-repeat:no-repeat;
    background-position:bottom;
    background-color: white;
    background-size: 21px;
    border: none !important;
    padding-bottom: 16px;
}

.btn-language {
    border-bottom: 3px solid transparent!important;
}

@media only screen and (min-width : 992px) {
    .menu-home{
        display: none;
    }
}

@media only screen and (max-width : 991px) {
    .translate-desktop{
        position: absolute;
        top: -70px;
    }

    .nav-left-top {
        float:none;
        text-align: center;
    }
    .nav-right-top ul li,
    .nav-left-top ul li {
        list-style: none;
        float: none;
        text-align: center;
        padding: 20px 10px;
        font-size: 20px;
        letter-spacing: 0.8px;
        font-weight: 600;
        a {
            color:$ekreasi-white;
            font-weight: 0; 
        }
    }
    .translate{
        float: none;
        text-align: center;
        ul li a{
            color:$ekreasi-white;
        }
        ul li a.active {
            background: $ekreasi-white;
            color: $ekreasi-blue;
        }
    }
    .chubb-header .navbar-light .navbar-toggler {
        max-width: none;
    }
}