<ngx-loading-bar></ngx-loading-bar>
<header class="chubb-header">
  <section class="top-nav ">

    <nav class="navbar navbar-expand-lg navbar-light no-padding  navbar-violet">
      <button class="chubb-navbar navbar-toggler float-right " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed; addCloseClass()">
        <!-- <span class="navbar-toggler-icon chubb-custom-menu"></span> -->
        <div id="burger" class="menu-burger-icon">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse nav-mobile float-right" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 no-padding">
              <!-- <div class="language-wrap" *ngIf="true">
                <button class="btn btn-transparent btn-language" (click)="changeLanguage('en')" [ngClass]="{'border-lang': lang == 'en'}">{{'_english' | translate}}</button>
                <button class="btn btn-transparent btn-language btn-border-bottom" (click)="changeLanguage('id')" [ngClass]="{'border-lang': lang == 'id'}">{{'_indonesia' | translate}}</button>
              </div> -->
              <div class="chubb-logo-header">
                <a [routerLink]="['']" routerLinkActive="active">
                  <img src="assets/img/ekreasi-logo.svg">
                </a>
              </div>
            </div>
            <div class="col-lg-6 no-padding">
              <div class="nav-right-top">
                <ul>
                  <!-- <li ngbDropdown>
                    <button class="btn-menu-dropdown" id="dropdownBasic1" ngbDropdownToggle>{{'_about_us' | translate}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <ul>
                       
                        <li class="dropdown-item">
                          <a href="{{linkMenu.about_chubb}}" target="_blank">{{'_about_chubb' | translate}}</a>
                        </li>
                        <li class="dropdown-item">
                           <a href="{{linkMenu.about_chubb_us}}" target="_blank">{{'_about_chubb_us' | translate}}</a>
                        </li>
                        <li class="dropdown-item">
                          <a href="{{linkMenu.awards}}" target="_blank">{{'_awards' | translate}}</a>
                        </li>
                        <li class="dropdown-item">
                          <a href="{{linkMenu.financial_report}}" target="_blank">{{'_financial_report' | translate}}</a>
                        </li>
                      </ul>
                    </div>
                  </li> -->
                  <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      Service <span class="caret"></span>
                    </a>
                    <!-- <ul class="dropdown-menu">
                      <li><a href="#">App Development</a></li>
                      <li><a href="#">Web Development</a></li>
                      <li><a href="#">Support</a></li>
                    </ul> -->
                  </li>
                  <li>
                   <!-- <a [routerLink]="['/agents']" routerLinkActive="active">{{'_agents' | translate}}</a> -->
                   <a [routerLink]="['/portfolio']" routerLinkActive="active">Work</a>
                  </li>
                  <li>
                    <!-- <a href="{{linkMenu.news}}" target="_blank">{{'_news' | translate}}</a> -->
                    <a [routerLink]="['/about-ekreasi']" routerLinkActive="active">About</a>
                  </li>
                  <li>
                     <!-- <a [routerLink]="['/contact']" routerLinkActive="active">{{'_contact_us' | translate}}</a> -->
                     <a [routerLink]="['/contact']" routerLinkActive="active">Blog</a>
                  </li>
                  <li>
                     <a [routerLink]="['/career']" routerLinkActive="active">Career</a>
                  </li>
                  <li>
                     <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </nav>
  </section>
  <div class="clearfix"></div>
  <!-- <section class="search-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="chubb-logo-header">
            <a [routerLink]="['']" routerLinkActive="active">
              <img src="assets/img/ekreasi-logo.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</header>
<div class="clearfix"></div>