<header-page-blue></header-page-blue>
<content>
<div  class="inner-content-agents">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-header-content">
            <div class="ekreasi-breadcrumb">
              <a [routerLink]="['']" routerLinkActive="active"><span class="icon-left"></span>Home</a>
            </div>
            <h1>Agents Area</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-content-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ekreasi-agent-wrap">
            <div class="ekreasi-agent-search">
                  <div class="row">
                    <div class="col-lg-5 col-centered">
                    <div class="input-group ekreasi-agent-search">
                        <input type="text" class="form-control ekreasi-agent-search-bg" placeholder="Search" >
                        <div class="input-group-prepend">
                            <button class="btn-ekreasi-agent-search"><div class="icon-search"></div></button>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <ngb-tabset class="ekreasi-magenta-tab">
                <ngb-tab title="DKI Jakarta">
                  <ng-template ngbTabContent class="tab-agent">
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                      <ngb-panel title="Ayu Putri">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Ayu Putri</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Triana Anista">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Triana Anista</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Daniel Marananta">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Daniel Marananta</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Triangga Renov">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Triangga Renov</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Agnes Fidelia">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Agnes Fidelia</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Ayu Putri">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Ayu Putri</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Ayu Putri">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Ayu Putri</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Daniel Marananta">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Daniel Marananta</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Triangga Renov">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Triangga Renov</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel title="Agnes Fidelia">
                        <ng-template ngbPanelContent>
                          <div class="ekreasi-detail-agent">
                            <h6><strong>Detail Agent</strong></h6>
                            <table>
                              <tr>
                                <td width="150">Nama</td>
                                <td>:</td>
                                <td>Agnes Fidelia</td>
                              </tr>
                              <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>Active</td>
                              </tr>
                              <tr>
                                <td>Register as Agent </td>
                                <td>:</td>
                                <td>12/02/2011</td>
                              </tr>
                            </table> 
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                <ng-template ngbTabTitle>Jawa Barat</ng-template>
                <ng-template ngbTabContent>
                  
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                  <ng-template ngbTabTitle>Jawa Timur</ng-template>
                  <ng-template ngbTabContent>
                      <div class="ekreasi-list-hospital">
                          <h6 class="color-violet">Jakarta Selatan</h6>
                        </div>
                        <div class="ekreasi-list-hospital">
                            <h6 class="color-green">Jakarta Barat</h6>
                        </div> 
                        <div class="ekreasi-list-hospital">
                          <h6 class="color-magenta">Jakarta Barat</h6>
                        </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                  <ng-template ngbTabTitle>Jawa Tengah</ng-template>
                  <ng-template ngbTabContent>
                      <div class="ekreasi-list-hospital">
                          <h6 class="color-violet">Jakarta Selatan</h6>
                        </div>
                        <div class="ekreasi-list-hospital">
                            <h6 class="color-green">Jakarta Barat</h6>
                        </div> 
                        <div class="ekreasi-list-hospital">
                          <h6 class="color-magenta">Jakarta Barat</h6>
                        </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                  <ng-template ngbTabTitle>Banten</ng-template>
                  <ng-template ngbTabContent>
                    content
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                  <ng-template ngbTabTitle>D.I Yogyakarta</ng-template>
                  <ng-template ngbTabContent>
                      <div class="ekreasi-list-hospital">
                          <h6 class="color-violet">Jakarta Selatan</h6>
                        </div>
                        <div class="ekreasi-list-hospital">
                            <h6 class="color-green">Jakarta Barat</h6>
                        </div> 
                        <div class="ekreasi-list-hospital">
                          <h6 class="color-magenta">Jakarta Barat</h6>
                        </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                  <ng-template ngbTabTitle>Bali</ng-template>
                  <ng-template ngbTabContent>
                      <div class="ekreasi-list-hospital">
                          <h6 class="color-violet">Jakarta Selatan</h6>
                        </div>
                        <div class="ekreasi-list-hospital">
                            <h6 class="color-green">Jakarta Barat</h6>
                        </div> 
                        <div class="ekreasi-list-hospital">
                          <h6 class="color-magenta">Jakarta Barat</h6>
                        </div>
                  </ng-template>
              </ngb-tab>
            </ngb-tabset>
            <div class="bottom-content">
              <div class="col-lg-12 no-padding">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 no-padding">
                      <div class="title-bottom-content">
                        <p>Page <span class="color-magenta">1</span> from <span class="color-magenta">5</span> Agents Area</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pagination-magenta float-right">
                            <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<app-footer></app-footer>