.avatar-message {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.form-check,
.custom-control {
	height: 30px;
}

.content-message {
	padding: 20px 20px 10px;
	font-size: 12px;
}

.content-message h5{
	font-size: 14px;
}

.content-message h6{
	font-size: 14px;
}


.content-message a {
	padding: 0;
}

.cursor-pointer:hover {
	cursor: pointer;
}

.inbox-desc{
	font-size: 14px;
}

@media (max-width: 767px) {
	div.item-message div.row:nth-of-type(2) {
		display: flex;
		flex-direction: column;
	}

	div.item-message div.row:nth-of-type(2) div.desc {
		width: 100%;
		word-wrap: break-word;
		order: 2;
	}

	div.item-message div.row:nth-of-type(2) div.date {
		width: 100%;
		display: block;
		text-align: left;
		order: 1;
		font-size: 14px;
	}

	div.item-message .date div.row {
		display: block;
		align-items: normal;
		padding: 0 15px;
		height: auto;
	}
	
	.date .custom-control {
		float: left;
		left: 0px;
		padding-right: 0px;
	}

	label.date-check.mr-1 {
		margin: 0px!important;
		line-height: 24px;
	}
}