<ngx-loading-bar></ngx-loading-bar>
<header class="chubb-header header-magenta">
  <section class="top-nav">


    <nav class="navbar navbar-expand-lg navbar-light no-padding">
      <button class="chubb-navbar navbar-toggler float-right " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed; addCloseClass()">
        <!-- <span class="navbar-toggler-icon chubb-custom-menu"></span> -->
        <div id="burger" class="menu-burger-icon">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse nav-mobile float-right" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 no-padding">
              <div class="language-wrap" *ngIf="false">
                <button class="btn btn-transparent btn-language" (click)="changeLanguage('en')" [ngClass]="{'border-lang': lang == 'en'}">{{'_english' | translate}}</button>
                <button class="btn btn-transparent btn-language btn-border-bottom" (click)="changeLanguage('id')" [ngClass]="{'border-lang': lang == 'id'}">{{'_indonesia' | translate}}</button>
              </div>
            </div>
            <div class="col-lg-8 no-padding">
              <div class="nav-right-top ">
                <ul>
                  <li ngbDropdown>
                    <button class="btn-menu-dropdown" id="dropdownBasic1" ngbDropdownToggle>{{'_about_us' | translate}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="car-drop-down">
                      <ul>
                        <!-- <li class="dropdown-item"><a [routerLink]="['/about/about-chubb']" routerLinkActive="active">{{'_about_chubb' | translate}}</a></li> -->
                        <li class="dropdown-item">
                          <a href="{{linkMenu.about_chubb}}" target="_blank">{{'_about_chubb' | translate}}</a>
                        </li>
                        <li class="dropdown-item">
                           <a href="{{linkMenu.about_chubb_us}}" target="_blank">{{'_about_chubb_us' | translate}}</a>
                        </li>
                        <li class="dropdown-item">
                          <a href="{{linkMenu.awards}}" target="_blank">{{'_awards' | translate}}</a>
                        </li>
                        <li class="dropdown-item">
                          <a href="{{linkMenu.financial_report}}" target="_blank">{{'_financial_report' | translate}}</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a [routerLink]="['/contact']" routerLinkActive="active">{{'_contact_us' | translate}}</a>
                  </li>
                  <li>
                    <a [routerLink]="['/agents']" routerLinkActive="active">{{'_agents' | translate}}</a>
                  </li>
                  <li>
                    <a href="{{linkMenu.news}}" target="_blank">{{'_news' | translate}}</a>
                  </li>
                  <li class="hidden-mobile">|</li>
                  <li *ngIf="!token">
                    <a [routerLink]="['/auth/login']" routerLinkActive="active">{{'_login' | translate}}</a>
                  </li>
                  <li ngbDropdown *ngIf="token">
                    <button class="btn-menu-dropdown" id="dropdownBasic1" ngbDropdownToggle>
                      <span class="overflow-text-username">{{userData.policyHolderName}}</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="car-drop-down">
                      <ul>
                        <!-- <li class="dropdown-item"><a [routerLink]="['/']" routerLinkActive="active">{{'_profile' | translate}}</a></li> -->
                        <li class="dropdown-item">
                          <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
                        </li>
                        <li class="dropdown-item">
                          <a [routerLink]="['/change-password']" routerLinkActive="active">{{'_change_password' | translate}}</a>
                        </li>
                        <li class="dropdown-item">
                          <a (click)="doLogout()">{{'_sign_out' | translate}}</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </div>

    </nav>
  </section>
  <section class="search-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="chubb-logo-header">
            <a [routerLink]="['']" routerLinkActive="active">
              <img src="assets/img/chubb-logo.png">
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <form novalidate (ngSubmit)="doSearch()" #searchForm="ngForm" name="reg">
            <div class="input-group chubb-search">
              <input autocomplete="off" [(ngModel)]="search" name="search" type="text" class="form-control chubb-search-bg" placeholder="{{'_search_content' | translate}}">
              <div class="input-group-prepend">
                <button (click)="doSearch()" class="btn-search" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</header>