<div class="side-menu-dashboard"> 
          
    <ngb-accordion  [closeOthers]="true"  activeIds="static-1" #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion-menu" >                
        <ngb-panel class="panel-wrap" id="static-1">
            <ng-template ngbPanelTitle >
              <span class="icon-panel"><div class="icon-user float-left"></div> My Data</span>
            </ng-template>
            <ng-template ngbPanelContent >
             <div class="side-menu-non-public">
               <ul>
                 <li><a [routerLink]="['/my-data/personal-data']" routerLinkActive="active">Personal Information</a></li>
                 <li><a [routerLink]="['/my-data/proposal-information']" routerLinkActive="active">Proposal Information</a></li>
                 <li class="no-border-bottom"><a [routerLink]="['/my-data/policy-information']" routerLinkActive="active">Policy Information</a></li>
                 <!-- <li class="no-border-bottom"><a [routerLink]="['/my-data/letter-estatement']" routerLinkActive="active">Letter & e Statement</a></li> -->
               </ul>
             </div>
            </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion-menu" >
        <ngb-panel class="panel-wrap">
            <ng-template ngbPanelTitle >
              <span class="icon-panel"><div class="icon-claimform float-left"></div>Claim</span>
            </ng-template>
            <ng-template ngbPanelContent >
             <div class="side-menu-non-public">
               <ul>
                 <li><a [routerLink]="['/claim/tracking']" routerLinkActive="active">Tracking</a></li>
                 <li class="no-border-bottom"><a [routerLink]="['/claim/history']" routerLinkActive="active">History</a></li>
               </ul>
             </div>
            </ng-template>
        </ngb-panel>

        
        <ngb-panel class="panel-wrap">
            <ng-template ngbPanelTitle >
              <span class="icon-panel"><div class="icon-fund float-left"></div>Fund</span>
            </ng-template>
            <ng-template ngbPanelContent >
             <div class="side-menu-non-public">
               <ul>
                 <li><a [routerLink]="['/fund/unit-price']" routerLinkActive="active">Unit Price</a></li>
                 <li><a [routerLink]="['/fund/performance']" routerLinkActive="active">Performance</a></li>
                 <li class="no-border-bottom"><a [routerLink]="['/fund/fund-fact-sheet']" routerLinkActive="active">Fun Fact Sheet</a></li>
               </ul>
             </div>
            </ng-template>
        </ngb-panel>
      </ngb-accordion>
        <div class="side-menu-single-link">
            <a [routerLink]="['/inbox']" routerLinkActive="active" ><div class="icon-mail float-left"></div>Inbox</a>
        </div>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion-menu">
        <ngb-panel class="panel-wrap">
            <ng-template ngbPanelTitle >
              <span class="icon-panel"><div class="ico-setting float-left"></div>Account Setting</span>
            </ng-template>
            <ng-template ngbPanelContent >
             <div class="side-menu-non-public">
               <ul>
                 <li><a [routerLink]="['/change-password']" routerLinkActive="active">Change Password</a></li>
               </ul>
             </div>
            </ng-template>
        </ngb-panel>
      </ngb-accordion>
      
    
      <div class="side-menu-single-link">
          <a href="/"><div class="icon-signout"></div>Log Out</a>
      </div>
  </div>
<style>
  .card-header.active a, .card-header a {
    background-size:20px !important;
  }
</style>
