.card-table table {
    width:100%;
}
.card-table table thead tr th {
    background:$violet;
    color:#fff;
    padding:10px;
    text-align:center;
}
.card-table table  tr td {
    padding:10px;
    border: 1px solid #eaeaea;
}
.fund-table table thead tr th {
    background:$violet;
    color:#fff;
    padding:10px;
}
.fund-table table  {
    border-bottom:1px solid #eee;
}
.fund-rider-table {
    overflow-x:scroll
}
.fund-rider-table table thead tr th {
    background:$tosca;
    color:#fff;
    padding:10px;
    white-space: nowrap;
}
.fund-rider-table table tr td {
    white-space: nowrap;
}
.fund-rider-table table  {
    border-bottom:1px solid #eee;
}


.fund-product-table table thead tr th {
    background:$green;
    color:#fff;
    padding:10px;
}
.fund-product-table table  {
    border-bottom:1px solid #eee;
}