// General 

    // Color
    $magenta:#FF0198;
    $violet:#6E27C5;
    $tosca:#01C1D5;
    $cyan:#01C1D5;
    $green:#7ACB00;
    $yellow:rgb(255,182,23);
    $orange:#FF6600;
    $red:#F1352B;
    $blue:#150F96;
    $gray:#979797;
    $gray2:#6c757d;
    $dark-gray:#4A4A4A;
    $soft-gray1:#ECEBEB;
    $light-gray:#f7f7f7;
    $light-green:#f5f9ef;
    $ekreasi-red:red;
    $ekreasi-orange:#F15A24;
    $ekreasi-blue:#0071BC;
    $ekreasi-red:#ED0009;
    $ekreasi-violet:#93008E;
    $ekreasi-green :#009F58;
    $ekreasi-darkblue :#004573;

//Format 
.text-align-right {
    text-align:right !important;
}
.margin-auto {
    margin:auto
}
    a {
        text-decoration:none !important;
    }
    .no-padding {
        padding:0px !important;
    }
    html, body {
        font-family:'TrebuchetMS',serif !important;
        letter-spacing:0.5px;
    }
    .clearfix {
        clear: both;
    }
    ul, menu, dir {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
    }
    .font-publico-roman {
        font-family:'publico-roman',serif !important;
    }
    .border-gray-botom-1px {
        border-bottom:1px solid #ccc;
    }
    .border-violet-bottom {
        border-bottom:3px solid $violet
    }
    .no-border-radius {
        border-radius:0px
    }
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    .min-height-700 {
        min-height:700px;
    }

    .headline-center-violet {
        padding: 0px 0px 10px 0px;
    }
    .headline-center-violet h5 {
        text-align:center;
        font-size:24px;
    }
    .margin-top-1 {
        margin-top:-1px;
    }
    .text-center {
        text-align:center;
    }
    .field-text-wrap {
        margin:20px auto;
        border-bottom:1px solid #ccc;
        
    }
    .field-text-wrap label {
        margin:auto
    }
    .padding-20 {
        padding:20px 40px;
    }
    .field-text {
        background: #fff;
        border-bottom: 1px solid #ccc;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        padding: 8px 0px;
        color: #6c757d;
    }
    .margin-bottom-15 {
        margin-bottom:15px;
    }
    .padding-15 {
        padding:15px;
    }
    .card {
        border-radius:0px;
    }
//Button 

    .btn-transparent {
        background-color:transparent !important;
        border:none;
        color:#fff;
        letter-spacing:1px;
        font-weight:normal;
        padding:12px 10px;
        font-size:15px;
    }
    .btn-login {
        width: 100%;
        color: #fff;
        border-radius: 0px;
    }
    .btn-violet {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$violet;
    }
    .btn-magenta {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$magenta;
    }
    .btn-yellow {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$yellow;
    }
    .btn-tosca {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$tosca;
    }
    .btn-orange {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$orange;
    }

    .btn-violet {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$violet;
    }
    .btn-blue {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$blue;
    }
    .btn-yellow {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$yellow;
    }
    .btn-green {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$green;
    }

    .btn-red {
        width: 100%;
        color: #fff;
        border-radius: 0px;
        background:$red;
    }
    .btn-search-fund {
        margin:30px auto 15px auto;
        border:none;
        height:40px;
    }
//Font Color 
    .color-magenta {
        color:$magenta
    }
    .color-violet {
        color:$violet
    }
    .color-tosca {
        color:$tosca;
    }
    .color-cyan {
        color:$cyan;
    }
    .color-green {
        color:$green;
    }
    .color-yellow {
        color:$yellow;
    }
    .color-orange {
        color:$orange;
    }
    .color-red{
        color:$red;
    }
    .color-blue{
        color:$blue;
    }
    .color-gray{
        color:#ccc;
    }
    .color-gray2 {
        color:$gray2;
    }
    .color-dark-gray{
        color:$dark-gray;
    }
    .color-white {
        color:#fff;
    }
    .background-light-gray {
        background:$light-gray;
    }
    .background-light-green {
        background:$light-green;
    }
    .background-white {
        background:#fff;
    }
    .background-green {
        background:$green;
    }
    .background-violet {
        background:$violet;
    }
    .background-tosca {
        background:$tosca;
    }
    .background-red {
        background:$red;
    }
    .background-magenta {
        background:$magenta;
    }
    .background-blue {
        background:$blue;
    }
    .background-yellow {
        background:$yellow;
    }
    .background-orange {
        background:$orange;
    }
//Border Color 
    .border-top-violet {
        border-top:4px solid $violet !important;
    }
    .border-top-red{
        border-top:4px solid $red !important;
    }
    .border-top-magenta{
        border-top:4px solid $magenta !important;
    }
    .border-left-magenta {
        border-left:4px solid $magenta !important;
    }
    .border-left-violet {
        border-left:4px solid $violet !important;
    }
    .border-left-green {
        border-left:4px solid $green !important;
    }
    .border-left-red {
        border-left:4px solid $red !important;
    }
    .border-left-blue {
        border-left:4px solid $blue !important;
    }
    .border-left-yellow {
        border-left:4px solid $yellow !important;
    }
    .border-left-tosca {
        border-left:4px solid $tosca!important;
    }


    .border-right-magenta {
        border-right:4px solid $magenta !important;
    }
    .border-right-violet {
        border-right:4px solid $violet !important;
    }
    .border-right-green {
        border-right:4px solid $green !important;
    }
    .border-right-red {
        border-right:4px solid $red !important;
    }
    .border-right-blue {
        border-right:4px solid $blue !important;
    }
    .border-right-yellow {
        border-right:4px solid $yellow !important;
    }
    .border-right-tosca {
        border-right:4px solid $tosca!important;
    }



    // .border-bottom-magenta {
    //     border-bottom:4px solid $magenta !important;
    // }
    // .border-bottom-violet {
    //     border-bottom:4px solid $violet !important;
    // }
    // .border-bottom-green {
    //     border-bottom:4px solid $green !important;
    // }
    .border-bottom-gray {
        border-bottom:4px solid #eee !important;
    }
    .border-bottom-gray-3 {
        border-bottom:3px solid #eee !important;
    }
    .border-bottom-1-dark-gray {
        border-bottom:1px solid $dark-gray!important;
    }

    .border-bottom-1-green {
        border-bottom:1px solid $green!important;
    }
    .border-bottom-1-magenta {
        border-bottom:1px solid $magenta!important;
    }
    .border-bottom-1-violet {
        border-bottom:1px solid $violet!important;
    }
    .border-bottom-1-red {
        border-bottom:1px solid $red!important;
    }
    .border-bottom-2-light-gray {
        border-bottom:2px solid $gray!important;
    }
    .border-bottom-2-dark-gray {
        border-bottom:2px solid $dark-gray!important;
    }
    .border-bottom-2-magenta {
        border-bottom:2px solid $magenta!important;
    }
    .border-bottom-2-green {
        border-bottom:2px solid $green!important;
    }
    .border-bottom-2-violet {
        border-bottom:2px solid $violet!important;
    }
    .border-bottom-2-red {
        border-bottom:2px solid $red!important;
    }
    .padding-lr-7 {
        padding:0px 7px 0px 7px;
    }
    .border-top-1px-gray {
        border-top:1px solid #ccc;
    }
    .border-top-gray {
        border-top:3px solid #ccc;
    }
    .border-1-gray {
        border:1px solid #ccc
    }
//Margin 
    .margin-top-15 {
        margin-top:15px;
    }
    .margin-bottom-15 {
        margin-bottom:15px;
    }

    .margin-bottom-20 {
        margin-bottom:20px;
    }
    .margin-bottom-30 {
        margin-bottom:30px;
    }
    .margin-tb-40 {
        margin-top:40px;
        margin-bottom:40px;
    }
    .margin-tb-80 {
        margin-top:80px;
        margin-bottom:80px;
    }
//Padding 
    .padding-tb-60 {
        padding:60px 0px 60px 0px;
    }
    .padding-30 {
        padding:30px;
    }

// Header 
    .inner-content-white {
        padding:80px 0px; 
    }
    .inner-content-gray {
        padding:80px 0px;
        background:#EEEEEE;
    }
    .chubb-header-content h1 {
        margin:auto;
        padding:20px 0px 0px 0px;
    }

    .chubb-breadcrumb a {
        color:#BABABA;
        text-decoration:none;
        font-size:18px;
    }
    .annual span.icon-downloads:before {
        color:$magenta;
        font-size:28px;
    }

    .carousel-indicators {
        bottom: -12px;
    }
.carousel-indicators li {
        background:#eee !important;
    }
  .carousel-indicators li.active {
         background:$magenta !important;
    }
    .table tr td.middle-top {
        vertical-align:top !important;
    }



    .border-left-violet  {
        border-left:4px solid $ekreasi-violet !important;
        h5 {
            color:$ekreasi-violet ;
        }
    }
    
    .border-left-green  {
        border-left:4px solid $ekreasi-green !important;
        h5 {
            color:$ekreasi-green ;
        }
    }
    
    .border-left-orange  {
        border-left:4px solid $ekreasi-orange !important;
        h5 {
            color:$ekreasi-orange ;
        }
    }
    
    
    .border-bottom-violet  {
        border-bottom:4px solid $ekreasi-violet !important;
        h5 {
            color:$ekreasi-violet ;
        }
    }
    
    .border-bottom-green  {
        border-bottom:4px solid $ekreasi-green !important;
        h5 {
            color:$ekreasi-green ;
        }
    }
    
    .border-bottom-orange  {
        border-bottom:4px solid $ekreasi-orange !important;
        h5 {
            color:$ekreasi-orange ;
        }
    }
    .navbar-light {
        background:rgba(0,0,0,0.5);
    }

    .navbar-blue {
        background:$ekreasi-blue;
    }
    .navbar-red {
        background:$ekreasi-red;
    }
    .navbar-blue-dark {
        background: $ekreasi-darkblue;
    }    
    .navbar-red {
        background:$ekreasi-orange;
    }


    .chubb-image-portfolio {
        margin: auto auto 20px auto;
        text-align: center;
        img {
            width:100%;
        }
    }

    .chubb-summary-portfolio {
        h2{
            font-family: 'TrebuchetMS-Bold';
            padding:0px 0px 20px 0px;
            text-align:center;
            border-bottom:1px solid #ccc;
            color:$dark-gray;
            font-size: 25px;
            margin-bottom: 30px;
        }
    }
    ul.ngxcarouselPoint li.active {
        background:#fff !important;
    }
    
    .ngxcarouselPointDefault .ngxcarouselPoint li.active {
        background:#fff !important;
    }
    
    .ngxcarouselPointDefault .ngxcarouselPoint li {
        background:#fff !important;
    }

    p {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin:auto;
    }

    .footer-call ul li {
        padding:6px 0px;
    }