




    //  NAV
    .chubb-nav-title {
        background:$magenta;
        color:#fff;
    }
    
    
    .chubb-list-nav table {
        width:100%;
    }

    .chubb-search {
        select .ng-untouched, input.ng-untouched {
            border:none !important;
        }
        input.form-control {
            width:100%;
        }
        .input-group-prepend {
            .btn-search {
                position:absolute;
                right:0px;
                background:transparent;
            }
        }
    }

    .chubb-list-nab {
        .carousel {
            a {
               
            }
        }
    }

    


    .ngxcarouselPointDefault .ngxcarouselPoint li.active {
        background:#fff !important;
    }
